.panel {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background-color: rgb(8, 9, 10);
    scrollbar-color: rgb(73, 76, 77) rgb(26, 27, 28);
    border: 3px solid rgb(55, 62, 68);

    &::-webkit-scrollbar {
        background-color: rgb(26, 27, 28);
        width: var(--scrollbar-thickness);
    }

    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-button {
        background-color: rgb(73, 76, 77);
        border: 1px outset rgb(100, 103, 104);

        &:active {
            background-color: rgb(89, 92, 93);
        }
    }
    
    &::-webkit-scrollbar-button:start:decrement,
    &::-webkit-scrollbar-button:end:increment {
        display: block;
        width: var(--scrollbar-thickness);
        height: var(--scrollbar-thickness);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
    }

    &::-webkit-scrollbar-button:start:decrement:vertical {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50' height='50'><polygon fill='rgb(190,190,190)' points='0,50 25,0 50,50'/></svg>");
    }

    &::-webkit-scrollbar-button:end:increment:vertical {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50' height='50'><polygon fill='rgb(190,190,190)' points='0,0 25,50 50,0'/></svg>");
    }

    &::-webkit-scrollbar-button:start:decrement:horizontal {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50' height='50'><polygon fill='rgb(190,190,190)' points='50,0 0,25 50,50'/></svg>");
    }

    &::-webkit-scrollbar-button:end:increment:horizontal {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50' height='50'><polygon fill='rgb(190,190,190)' points='0,0 50,25 0,50'/></svg>");
    }

    &::-webkit-scrollbar-corner {
        background-color: rgb(55, 62, 68)
    }
}
