@use 'styles/effects.scss';

.visualizer-coverart {
    text-rendering: optimizeLegibility;
    font-size: 1.25em;

    .media.fullscreen & {
        font-size: 1.375em;
    }

    .media:fullscreen & {
        font-size: 1.5em;
    }

    .currently-playing.arrange-row {
        flex-direction: row;

        .currently-playing-thumbnail {
            width: calc(var(--thumbnail-width) + 2em);
        }

        .sub-title {
            .media-source-label {
                display: inline-flex;
                align-items: flex-start;
            }
        }
    }

    .currently-playing.arrange-column {
        flex-direction: column;

        .currently-playing-thumbnail {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .currently-playing-text {
            padding: 0 1em;
            text-align: center;
        }

        .sub-title {
            .media-source-label {
                display: block;

                .text {
                    display: inline;
                }
            }
        }

        h5.sub-title {
            display: none;
        }
    }

    .currently-playing {
        --thumbnail-size: 45%;
        --thumbnail-width: min(var(--thumbnail-size), 30vh);
        position: absolute;
        display: flex;
        inset: 0;
        color: var(--text-color);
        background-color: var(--background-color);
        transition: opacity 2s linear 1s;

        .media.paused & {
            transition: none;
        }

        .media.fullscreen & {
            --thumbnail-width: min(var(--thumbnail-size), 50vh);
        }

        .media:fullscreen & {
            --thumbnail-width: min(var(--thumbnail-size), 67vh);
        }

        &[hidden] {
            display: flex;
            opacity: 0;

            .animated-background {
                opacity: 0;
            }
        }

        .cover-art {
            position: absolute;
            inset: 0;
        }

        &-thumbnail,
        &-text {
            line-height: 1.1;
        }

        &-thumbnail {
            padding: 1em;

            .thumbnail {
                position: relative;
                width: var(--thumbnail-width);
                height: var(--thumbnail-width);
                padding: 0;
            }
        }

        &-text {
            position: relative;
            /* break inherited opacity */
            padding: 1em 1em 1em 0.5em;
            font-weight: bold;
            overflow-wrap: anywhere;
            hyphens: auto;
        }

        &.text-light {
            .currently-playing-text {
                text-shadow: 2px 2px 0 rgba(16, 16, 16, 0.8);

                .icon {
                    filter: drop-shadow(2px 2px 0 rgba(16, 16, 16, 0.4));
                }

                .media:fullscreen & {
                    text-shadow: 4px 4px 0 rgba(16, 16, 16, 0.6);

                    .icon {
                        filter: drop-shadow(4px 4px 0 rgba(16, 16, 16, 0.4));
                    }
                }
            }

            .provided-by .text {
                color: white;
                opacity: 0.75;
                text-shadow: 1px 1px 0 rgba(16, 16, 16, 0.6);

                .media:fullscreen & {
                    opacity: 0.5;
                    text-shadow: 2px 2px 0 rgba(16, 16, 16, 0.6);
                }
            }
        }

        .progress-bar {
            --progress-bar-background-color: rgba(255, 255, 255, 0.1);
            --progress-bar-color: var(--text-color);
        }

        &.dark {
            .playback-state {
                color: rgba(255, 255, 255, 0.6);
            }
        }

        &.light {
            .playback-state {
                color: rgba(0, 0, 0, 0.6);
            }

            .progress-bar {
                --progress-bar-background-color: rgba(0, 0, 0, 0.2);
            }
        }

        .live-radio {
            position: absolute;
            bottom: 0.625em;
            right: 0.625em;
            width: 1.5em;
            height: 1.5em;
            font-size: 0.625em;
            opacity: 0.5;
        }

        .provided-by {
            position: relative;
            /* break inherited opacity */
            font-size: max(0.5em, 11px);
            margin-top: 0.5em;
            align-items: flex-start;
            line-height: 1;
            color: black;

            .text {
                padding-bottom: .14em;
            }

            .media.fullscreen & {
                font-size: max(0.25em, 1rem);
            }

            .media:fullscreen & {
                font-size: max(0.375em, 1rem);
            }
        }

        .title {
            @include effects.line-clamp(3);
            font-size: max(1em, 10px);
            line-height: 1.2;
        }

        .sub-title {
            margin-top: 0.5em;
            font-size: max(0.75em, 9px);
            line-height: 1;

            .text {
                padding-bottom: .14em;
            }
        }

        h5.sub-title {
            margin-top: 1em;
            margin-left: 0.25em;
            font-size: max(0.5em, 8px);

            .text {
                margin-left: 0.375em;
                padding-bottom: .2em;
            }
        }
    }

    .animated-background {
        transition: opacity 4s linear 4s;

        canvas {
            background-color: var(--background-color);
        }
    }

    .beats-player {
        opacity: 0;
        transition: none;
    }

    .media.loaded & .beats-player {
        opacity: 1;
        transition: opacity 4s linear;
    }
}