@use 'styles/effects.scss';

.visualizer-coverart {
    --thumbnail-size: 45%;
    background-color: var(--background-color);
    text-rendering: optimizeLegibility;

    &.arrange-row {
        .currently-playing {
            flex-direction: row;

            .sub-title {
                .media-source-label {
                    display: inline-flex;
                    align-items: flex-start;
                }
            }
        }
    }

    &.arrange-column {
        .currently-playing {
            flex-direction: column;

            &-thumbnail {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            &-text {
                padding: 0 1em;
                text-align: center;
            }

            .sub-title {
                .media-source-label {
                    display: block;

                    .text {
                        display: inline;
                    }
                }
            }
        }
    }

    .currently-playing {
        position: absolute;
        display: flex;
        inset: 0;
        color: var(--text-color);
        transition: opacity 2s linear;

        .media.paused & {
            transition-duration: 1s;
        }

        &[hidden] {
            display: flex;
            opacity: 0;
        }

        /* background-color */
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background-color: var(--background-color);
        }

        .cover-art {
            position: absolute;
            inset: 0;
        }

        &-thumbnail,
        &-text {
            line-height: 1.1;
            font-size: 1.25em;

            .media.fullscreen & {
                font-size: 1.375em;
            }

            .media:fullscreen & {
                font-size: 1.5em;
            }
        }

        &-thumbnail {
            padding: 1em;

            .thumbnail {
                --size: min(var(--thumbnail-size), 30vh);
                position: relative;
                width: var(--size);
                height: var(--size);
                padding: 0;
                color: var(--grey2-color);

                .media.fullscreen & {
                    --size: min(var(--thumbnail-size), 50vh);
                }

                .media:fullscreen & {
                    --size: min(var(--thumbnail-size), 67vh);
                }
            }
        }

        &-text {
            position: relative; /* break inherited opacity */
            padding: 1em 1em 1em 0.5em;
            font-weight: bold;
            overflow-wrap: anywhere;
            hyphens: auto;
        }

        &.text-light .currently-playing-text {
            text-shadow: 2px 2px 0 rgba(16, 16, 16, 0.6);

            .icon {
                filter: drop-shadow(2px 2px 0 rgba(16, 16, 16, 0.4));
            }

            .media:fullscreen & {
                text-shadow: 4px 4px 0 rgba(16, 16, 16, 0.6);

                .icon {
                    filter: drop-shadow(4px 4px 0 rgba(16, 16, 16, 0.4));
                }
            }
        }

        .progress-bar {
            --progress-bar-background-color: rgba(255, 255, 255, 0.1);
            --progress-bar-color: var(--text-color);
        }

        &.light .progress-bar {
            --progress-bar-background-color: rgba(0, 0, 0, 0.2);
        }

        .live-radio {
            position: absolute;
            bottom: 0.625em;
            right: 0.625em;
            width: 1.5em;
            height: 1.5em;
        }

        .provided-by {
            position: relative; /* break inherited opacity */
            font-size: max(0.625em, 12px);
            margin-top: 0.5em;
            align-items: normal;

            .media.fullscreen & {
                font-size: max(0.25em, 1rem);
            }

            .media:fullscreen & {
                font-size: max(0.375em, 1rem);
            }
        }

        .title {
            @include effects.line-clamp(3);
            line-height: 1.2;
        }

        .sub-title {
            margin-top: 0.5em;
            font-size: 0.75em;
            color: var(--grey2-color);
        }

        .playback-state {
            color: var(--grey2-color);
        }
    }

    .animated-background {
        opacity: 0;

        canvas {
            background-color: var(--background-color);
        }
    }

    .beats-player {
        opacity: 0;
        transition: none;
    }

    .media.loaded & .beats-player {
        opacity: 1;
        transition: opacity 4s linear;
    }

    &.animated-background-enabled.ready {
        .currently-playing::before {
            opacity: 0;
            transition: opacity 4s linear;
        }

        .animated-background {
            opacity: 1;
        }
    }
}