@use 'styles/effects.scss';

.media-list.list-view {
    .playing {
        color: var(--currently-playing-color);

        .text {
            font-style: italic;
            /* Prevents italic text from being clipped on the right. */
            padding-right: 0.1em;
        }
    }

    .index {
        font-family: monospace;
    }

    .icon-buttons {
        justify-content: right;
    }

    .icon-button-heart,
    .icon-button-info,
    .list-view-body .icon-button-menu,
    .icon-button-pin,
    .icon-button-plus {
        visibility: hidden;
    }

    .list-view-row:hover .icon-button-heart,
    .list-view-row:hover .icon-button-info,
    .list-view-row:hover .icon-button-menu,
    .list-view-row:hover .icon-button-pin,
    .list-view-row:hover .icon-button-plus {
        visibility: inherit;
    }

    .badge {
        font-size: max(0.5em, 9px);
    }

    .badge.explicit {
        display: none;
        border-color: var(--black);
        height: 2em;
    }

    .disable-explicit-content & .unplayable.selected,
    .mark-explicit-content & {
        .badge.explicit {
            display: inline-flex;
        }
    }

    progress {
        --border-radius: calc(0.25em * var(--roundness));
        width: min(6em, 100%);
        height: 0.2em;
        background-color: var(--grey1-color);
        border-radius: var(--border-radius);
        border: 0;
        vertical-align: top;
        margin-top: 0.625em;

        &::-webkit-progress-bar {
            background-color: var(--grey1-color);
            border-radius: var(--border-radius);
        }

        &::-webkit-progress-value {
            background-color: var(--text-color);
            border-radius: var(--border-radius);
        }

        &::-moz-progress-bar {
            background-color: var(--text-color);
            border-radius: var(--border-radius);
        }
    }

    .selected progress {
        &::-webkit-progress-value {
            background-color: var(--selected-text-color);
        }

        &::-moz-progress-bar {
            background-color: var(--selected-text-color);
        }
    }

    .title-with-badge {
        display: flex;
        align-items: center;

        .text {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .badge {
            margin-left: 0.5em;
        }
    }

    .star-rating {
        pointer-events: none;
    }

    .listen-date {
        .text {
            display: inline-flex;
            align-items: center;
        }
    }

    &:focus .list-view-row.selected .star-rating {
        pointer-events: auto;
    }

    .list-view-row {
        &.unplayable {
            color: var(--grey1-color);

            .icon.show-connectivity {
                opacity: 0.5;
            }

            .cover-art img {
                filter: grayscale(1);
            }

            .thumbnail {
                opacity: 0.5;
            }

            &:not(.selected) .badge.explicit {
                background-color: var(--grey1-color);
                color: var(--background-color);
            }
        }

        &.selected {
            color: var(--selected-text-color);
        }

        &.playing {
            color: var(--currently-playing-color);
        }

        &.selected.playing {
            .selection-dark & {
                color: var(--currently-playing-color-light);
            }

            .selection-light & {
                color: var(--currently-playing-color-dark);
            }
        }

        &.unplayable.playing,
        &.unplayable.selected {
            .list-view-cell {
                opacity: 0.5;
            }

            .icon.show-connectivity {
                opacity: 1;
            }
        }
    }

    &-details {
        .list-view-head {
            &:has(> .icon-button-menu) {
                display: flex;
                align-items: center;
            }

            .icon-button-menu {
                height: inherit;
                margin-left: auto;
                margin-right: 1px;
            }
        }

        .actions,
        .icon-buttons {
            height: inherit;
        }
    }

    &-card {
        --thumbnail-size: 6em;
        --thumbnail-radius: calc(var(--roundness) * var(--thumbnail-size) * 0.125);

        .list-view-cell {
            padding: 0;
        }

        .index {
            top: 2.125em;
            width: 2em;
            min-width: 2em;
            text-align: center;
            left: 0.125em;
            color: var(--text-color-max);

            .text {
                font-size: 0.75em;
            }
        }

        .thumbnail {
            left: 0;
            width: var(--thumbnail-size);
            height: var(--thumbnail-size);
            padding: 0;

            .indexed & {
                left: 2em;
            }
        }

        .cover-art {
            position: absolute;
            inset: 0.5em;
            border-radius: var(--thumbnail-radius);

            .artists & {
                border-radius: 50%;
            }
        }

        .h1,
        .h2,
        .h3 {
            left: 6.375em;
            right: 0.375em;

            .indexed & {
                left: 8.375em;
            }
        }

        .h1 {
            top: 0.375em;

            .clip-1 & {
                right: 4em;
            }

            .clip-2 & {
                right: 5.5em;
            }

            .text {
                font-size: 1.125em;
            }
        }

        .h2 {
            top: 2.125em;

            .text {
                font-size: 1em;
            }
        }

        .h3 {
            top: 3.75em;
            right: 3em;

            &.rate {
                right: auto;
                margin-left: -1px;
            }

            .text {
                font-size: 0.875em;
            }
        }

        .data,
        .genre,
        .description {
            .text {
                font-size: 0.75em;
            }
        }

        .data {
            left: auto;
            top: 0.375em;
            right: 0.375em;
            line-height: normal;

            &.duration,
            &.count {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                min-width: 1.5em;
                height: 1.5em;
                padding: 0 0.375em;
                border-radius: calc(var(--roundness) * 0.75em);
            }

            &:empty {
                display: none;
            }
        }

        .date,
        .genre,
        .description {
            font-style: italic;
            padding-right: 0.1em;
        }

        .list-view-cell.h3.progress {
            top: auto;
            bottom: 0.25em;
        }

        .actions {
            right: 0.5em;
            bottom: 0.5em;
            padding: 0;
            overflow: visible;
        }

        .h2,
        .h3 {
            color: var(--grey2-color);
        }

        .duration,
        .count {
            color: var(--text-color);
        }

        .date {
            color: var(--grey2-color);
        }

        .rate {
            color: inherit;
        }

        .unplayable,
        .playing,
        .selected {
            .list-view-cell {
                color: inherit;
            }
        }

        .description,
        .genre {
            &:not(:has(+ .h3)) {
                @include effects.line-clamp(2);
                line-height: normal;
            }
        }

        &:not(.thin) .list-view-row:not(.unplayable) {
            .data {
                &.duration,
                &.count {
                    background-color: var(--background-mark-color);
                    color: var(--text-color-max);
                }
            }
        }

        &.compact,
        &.small {
            --thumbnail-size: 4.75em;

            .index {
                top: 1.625em;
            }

            .h1,
            .h2,
            .h3 {
                left: 5em;

                .indexed & {
                    left: 7em;
                }
            }

            .h1 {
                top: 0.375em;

                .text {
                    font-size: 1em;
                }
            }

            .h2 {
                top: 1.625em;

                .text {
                    font-size: 0.875em;
                }
            }

            .h3 {
                top: 2.75em;

                &.rate {
                    top: 3em;
                }

                .text {
                    font-size: 0.75em;
                }
            }

            .data {
                &.duration,
                &.count {
                    height: 1.25em;
                }

                .text {
                    font-size: 0.625em;
                }
            }

            .owner,
            .genre {
                -webkit-line-clamp: 1;
            }

            .owner,
            .genre,
            .description {
                .text {
                    font-size: 0.75em;
                }
            }

            .actions {
                .icon-buttons {
                    font-size: 0.875em;
                }
            }
        }

        &.small {
            --thumbnail-size: 3.25em;

            .index {
                left: 0;
                top: 0.875em;

                .text {
                    font-size: 0.75em;
                }
            }

            .thumbnail {
                .indexed & {
                    left: 1.5em;
                }
            }

            .h1,
            .h2 {
                left: 3.5em;

                .indexed & {
                    left: 5em;
                }
            }

            .h1 {
                top: 0.25em;
            }

            .h2 {
                top: 1.375em;
                right: 3em;

                .text {
                    font-size: 0.75em;
                }
            }

            .h3 {
                display: none;
            }

            .data {
                &.duration,
                &.count {
                    height: 1.125em;
                    padding: 0 0.25em;
                }
            }

            .actions {
                bottom: 0.25em;
            }
        }

        &.minimal {
            --thumbnail-size: 2em;

            .cover-art {
                inset: 0.25em;
            }

            .h1 {
                top: 0.25em;
                left: 2em;
                right: 0.25em;

                .text {
                    font-size: 1em;
                }
            }

            .h2,
            .h3,
            .rate,
            .actions {
                display: none;
            }
        }

        &.thin {
            .h1,
            .h2 {
                right: 0.25em;
            }

            .h3 {
                right: 1em;
            }

            .progress {
                right: 2em;
            }

            .data.rate {
                display: none;
            }

            .actions {
                .icon-button:not(.icon-button-menu),
                .star-rating {
                    display: none;
                }
            }

            &:not(.minimal) {
                .data {
                    top: calc(0.5em + 1px);
                    right: calc(100% - 5.5em + 1px);
                    background-color: rgba(0, 0, 0, 0.75);
                    color: var(--soft-white);
                    border-radius: var(--thumbnail-radius);

                    &.duration,
                    &.count {
                        border-bottom-right-radius: 0;
                        border-top-left-radius: 0;
                    }

                    &.date {
                        left: calc(0.5em + 1px);
                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 0;
                        text-align: center;
                    }

                    .indexed & {
                        display: none;
                    }

                    .sun-clock {
                        display: none;
                    }
                }

                &.compact {
                    .data {
                        right: calc(100% - 4.25em + 1px);
                    }
                }

                &.small {
                    .data {
                        right: calc(100% - 2.75em + 1px);
                        display: none;
                    }
                }
            }
        }

        &.minimal {
            .list-view-row {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }

            .index,
            .h1,
            .data {
                position: static;
            }

            .index {
                flex: initial;
            }

            .h1 {
                flex: auto;
                margin-left: 2.5em;
                margin-top: 0;
            }

            .data {
                margin-left: 0.25em;
                margin-right: 0.25em;
                padding: 0.125em 0.25em;
                overflow: visible;
            }
        }
    }

    .media-items:not(.multi-disc) & {
        .disc {
            display: none;
        }
    }

    .folder-items & {
        .cover-art {
            background: transparent;
            border: none;

            .icon {
                height: 1.25em;
                padding: 0 !important;
            }
        }

        .h1 {
            margin-left: 2.25em;
        }
    }

    &:not(.focus) + .status-bar .selected {
        display: none;
    }
}
