@use 'styles/effects.scss';

.media-list.list-view {
    .playing .text {
        color: var(--currently-playing-color);
        font-style: italic;
        /* Prevents italic text from being clipped on the right. */
        padding-right: 0.1em;
    }

    .selected .text {
        color: var(--selected-text-color);
    }

    .selected.playing .text {
        .dark.selection-dark & {
            color: var(--currently-playing-color-light);
        }

        .light.selection-light & {
            color: var(--currently-playing-color-dark);
        }
    }

    .icon-buttons {
        justify-content: right;
    }

    .icon-button-heart,
    .icon-button-info,
    .icon-button-menu,
    .icon-button-pin,
    .icon-button-plus {
        visibility: hidden;
    }

    .location-info {
        display: inline-flex;
        align-items: center;
        
        .icon {
            width: 1.5em;
            margin-right: 0.25em;
        }
    }

    .list-view-row:hover .icon-button-heart,
    .list-view-row:hover .icon-button-info,
    .list-view-row:hover .icon-button-menu,
    .list-view-row:hover .icon-button-pin,
    .list-view-row:hover .icon-button-plus {
        visibility: inherit;
    }

    .unplayable {
        .icon.show-connectivity {
            opacity: 0.5;
        }

        .cover-art img {
            filter: brightness(0.5) grayscale(1);
        }

        &:not(.playing) {
            &.selected .text {
                opacity: 0.75
            }

            &:not(.selected) .text {
                color: var(--grey1-color);
            }
        }

        &.playing .text {
            opacity: 0.75;
        }

        &:not(.selected) .badge.explicit {
            background-color: var(--grey1-color);
            color: var(--background-color);
        }
    }

    .badge {
        font-size: max(0.5em, 9px);
    }

    .badge.explicit {
        display: none;
        border-color: var(--black);
        height: 2em;
    }

    .disable-explicit-content & .unplayable.selected,
    .mark-explicit-content & {
        .badge.explicit {
            display: inline-flex;
        }
    }

    progress {
        --border-radius: calc(0.25em * var(--roundness));
        width: min(6em, 100%);
        height: 0.125em;
        background-color: var(--grey1-color);
        border-radius: var(--border-radius);
        border: 0;
        vertical-align: top;

        &::-webkit-progress-bar {
            background-color: var(--grey1-color);
            border-radius: var(--border-radius);
        }

        &::-webkit-progress-value {
            background-color: var(--text-color);
            border-radius: var(--border-radius);
        }

        &::-moz-progress-bar {
            background-color: var(--text-color);
            border-radius: var(--border-radius);
        }
    }

    .index {
        font-family: monospace;
    }

    .title-with-badge {
        display: flex;
        align-items: center;

        .text {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .badge {
            margin-left: 0.5em;
        }
    }

    &-details {
        .actions,
        .icon-buttons {
            height: inherit;
        }

        .star-rating {
            justify-content: left;
            display: inline-flex;
        }
    }

    &-details .list-view-head {
        .star-rating {
            pointer-events: none;

            .icon-button {
                opacity: 1;
            }
        }
    }

    &-card {
        .list-view-cell {
            padding: 0;
        }

        .unplayable:not(.playing, .selected) .title .text {
            color: var(--grey2-color);
        }

        .index {
            top: 2.125em;
            font-weight: bold;
            font-style: italic;
            width: 2em;
            min-width: 2em;
            text-align: center;
        }

        .thumbnail {
            left: 0;
            width: 6em;
            height: 6em;
            padding: 0;
            color: var(--grey2-color);

            .indexed & {
                left: 2em;
            }
        }

        .cover-art {
            position: absolute;
            inset: 0.5em;

            .artists & {
                border-radius: 50%;
            }
        }

        .title,
        .artist,
        .owner,
        .location,
        .genre,
        .blurb,
        .album,
        .year,
        .views,
        .progress {
            left: 6.375em;
            right: 0.375em;

            .indexed & {
                left: 8.375em;
            }

            .clip-1 & {
                right: 4em;
            }

            .clip-2 & {
                right: 5.5em;
            }

            .artists & {
                margin-top: 0.25em;
            }
        }

        .title {
            top: 0.25em;

            .text {
                font-size: 1.125em;
            }
        }

        .artist,
        .genre,
        .owner {
            top: 1.75em;
            color: var(--grey2-color);
        }

        .album,
        .blurb,
        .year,
        .location,
        .views {
            top: 3.375em;
            color: var(--grey2-color);
        }

        .duration,
        .track-count,
        .play-count,
        .played-at,
        .added-at {
            left: auto;
            top: 0.375em;
            right: 0.375em;
            padding: 0.125em 0.375em;
            color: var(--text-color);
            border-radius: calc(var(--roundness) * 0.75em);
            background-color: var(--background-mark-color);
            line-height: 1;
            min-width: 1.375em;
            text-align: center;

            .text {
                font-size: 0.75em;
            }

            &:empty {
                display: none;
            }
        }

        .played-at,
        .added-at {
            color: var(--grey2-color);
            background-color: transparent;
            font-style: italic;
            top: 0.25em;
            padding: 0.125em 1px;

            &.listen-date {
                right: 0.625em;
                top: 0.5em;
            }

            .themed.light & {
                background-color: transparent;
            }

            .date {
                line-height: 1.2;
            }

            &.listen-date .text {
                display: inline-flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
        }

        .genre .text,
        .owner .text,
        .views .text {
            font-size: 0.75em;
        }

        .progress {
            bottom: 0;
            line-height: 1;
        }

        .actions {
            right: 0.5em;
            bottom: 0.5em;
            padding: 0;
        }

        .rate {
            right: 0.5em;
            top: 0.125em;
            padding: 0;
        }

        .genre {
            font-style: italic;
        }

        &.small,
        &.compact {
            .index {
                top: 1.625em;
            }

            .thumbnail {
                width: 4.75em;
                height: 4.75em;
            }

            .title,
            .artist,
            .owner,
            .genre,
            .blurb,
            .album,
            .year,
            .views,
            .progress {
                left: 5em;

                .indexed & {
                    left: 7em;
                }
            }

            .title {
                top: 0.25em;

                &-text {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .text {
                    font-size: 1em;
                }
            }

            .artist,
            .genre,
            .owner {
                top: 1.5em;
            }

            .artist .text {
                font-size: 0.875em;
            }

            .album,
            .blurb,
            .year,
            .location,
            .views {
                top: 2.75em;

                .text {
                    font-size: 0.75em;
                }
            }

            .playlists & .blurb {
                top: 1.5em;
            }

            .year {
                .artist-albums & {
                    top: 1.625em;

                    .text {
                        font-size: 0.875em;
                    }
                }
            }

            .rate {
                .artists & {
                    right: auto;
                    top: 3em;
                    left: 4.75em;
                }
            }

            .actions {
                .icon-buttons {
                    font-size: 0.875em;
                }
            }
        }

        &.small {
            .index {
                top: 0.875em;
            }

            .thumbnail {
                width: 3.25em;
                height: 3.25em;
            }

            .title,
            .artist,
            .genre,
            .owner {
                top: 1.375em;
                left: 3.5em;

                .indexed & {
                    left: 5.5em;
                }
            }

            .title {
                top: 0.25em;
            }

            .actions {
                bottom: 0.375em;
            }

            .playlists & .blurb {
                top: 1.375em;
            }
        }

        &.minimal {
            .thumbnail {
                width: 2em;
                height: 2em;
            }

            .cover-art {
                inset: 0.25em;

                .icon {
                    padding: 0;

                    &-playlist {
                        padding: 0.25em;
                    }
                }
            }

            .title {
                top: 0.25em;
                left: 2em;
                right: 0.25em;

                .text {
                    font-size: 1em;
                }
            }

            .rate,
            .actions {
                display: none;
            }
        }

        &.thin {
            .title,
            .artist,
            .owner,
            .genre {
                right: 0.25em;
            }

            .blurb,
            .album,
            .year,
            .location,
            .views {
                right: 1em;
            }

            .playlists & .blurb {
                right: 0.25em;
            }

            .progress {
                right: 2em;
            }

            .actions .icon-button:not(.icon-button-menu) {
                display: none;

                .artists & {
                    display: inline-flex;
                }
            }

            &:not(.minimal) {
                .duration,
                .track-count,
                .play-count,
                .played-at,
                .added-at {
                    top: calc(0.5em + 1px);
                    background-color: rgba(0, 0, 0, 0.75);

                    .text {
                        color: var(--soft-white);
                    }

                    .indexed & {
                        display: none;
                    }
                }

                .duration,
                .track-count,
                .play-count {
                    right: calc(100% - 5.5em + 1px);
                    border-bottom-right-radius: 0;
                    border-top-left-radius: 0;
                }

                .played-at,
                .added-at {
                    right: auto;
                    left: calc(0.5em + 1px);
                    width: calc(5em - 2px);
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    text-align: center;

                    .text {
                        vertical-align: 0.125em;
                    }

                    &.listen-date {
                        padding: 0.25em 0;
                    }
                }
            }

            &.compact {
                .duration,
                .track-count,
                .play-count,
                .played-at,
                .added-at {
                    right: calc(100% - 4.25em + 1px);
                    top: calc(0.5em + 1px);
                    width: auto;
                }
            }

            &.small {
                .duration,
                .track-count,
                .play-count,
                .played-at,
                .added-at {
                    display: none;
                }
            }

            .rate {
                .albums & {
                    display: none;
                }
            }
        }

        &.minimal {
            .list-view-row {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }

            .index,
            .title,
            .duration,
            .track-count,
            .play-count {
                position: static;
            }

            .index {
                flex: initial;
            }

            .title {
                flex: auto;
                margin-left: 2.5em;
                margin-top: 0;
            }

            .duration,
            .track-count,
            .play-count {
                flex: initial;
                margin-right: 0.25em;
                overflow: visible;
            }
        }
    }

    .media-items:not(.multi-disc) & {
        .disc {
            display: none;
        }
    }

    .folder-items & {
        .cover-art {
            background: transparent;
            border: none;

            .icon {
                color: var(--text-color);
                height: 1.25em;
                padding: 0 !important;
            }
        }

        .title {
            margin-left: 2.25em;
        }
    }

    &.thin .sun-clock {
        --sun-color: 0, 0%, 92.2%;
    }

    .light &:not(.thin) .sun-clock {
        --am-color: hsla(var(--sun-color), calc(100% - var(--am-alpha)));
        --pm-color: hsla(var(--sun-color), calc(100% - var(--pm-alpha)));
    }

    &:not(.focus) + .status-bar .selected {
        display: none;
    }
}
