.media-list.list-view {
    .list-view-row.playing .list-view-cell {
        font-style: italic;
        color: var(--currently-playing-color);
    }

    .list-view-row.selected .list-view-cell {
        color: var(--selected-text-color);
    }

    .list-view-row.selected.playing .list-view-cell {
        .themed.dark.selection-dark & {
            color: var(--currently-playing-color-light);
        }

        .themed.light.selection-light & {
            color: var(--currently-playing-color-dark);
        }
    }

    .icon-buttons {
        justify-content: right;
    }

    .icon-button-heart,
    .icon-button-info,
    .icon-button-menu,
    .icon-button-pin,
    .icon-button-plus {
        visibility: hidden;
    }

    .list-view-row:hover .icon-button-heart,
    .list-view-row:hover .icon-button-info,
    .list-view-row:hover .icon-button-menu,
    .list-view-row:hover .icon-button-pin,
    .list-view-row:hover .icon-button-plus {
        visibility: inherit;
    }

    .unplayable:not(.selected):not(.playing) .list-view-cell {
        color: var(--grey1-color);
    }

    .unplayable .cover-art img {
        filter: brightness(0.25) grayscale(1);
    }

    &-details {
        .actions,
        .icon-buttons {
            height: inherit;
        }

        .actions {
            padding-right: 0.45em;
        }

        .star-rating {
            justify-content: left;
            display: inline-flex;
        }
    }

    &-details .list-view-head {
        .star-rating {
            pointer-events: none;

            .icon-button {
                opacity: 1;
            }
        }
    }

    &-card {
        .list-view-cell {
            padding: 0;
        }

        .thumbnail {
            left: 0;
            width: 6em;
            height: 6em;
            padding: 0;
            color: var(--grey2-color);
        }

        .cover-art {
            position: absolute;
            inset: 0.5em;

            .artists & {
                border-radius: 50%;
            }
        }

        .title,
        .artist,
        .owner,
        .genre,
        .blurb,
        .album,
        .year,
        .views {
            left: 6.375em;
            right: 0.375em;

            .clip-1 & {
                right: 4em;
            }

            .clip-2 & {
                right: 5.5em;
            }

            .artists & {
                margin-top: 0.25em;
            }
        }

        .title {
            top: 0.25em;

            .text {
                font-size: 1.125em;
            }
        }

        .artist,
        .genre,
        .owner {
            top: 1.75em;
            color: var(--grey2-color);
        }

        .album,
        .blurb,
        .year,
        .views {
            top: 3.375em;
            color: var(--grey2-color);
        }

        .duration,
        .track-count,
        .play-count,
        .played-at {
            left: auto;
            top: 0.375em;
            right: 0.375em;
            padding: 0 0.375em;
            color: var(--text-color);
            border-radius: calc(var(--roundness) * var(--roundness) * 0.75em);
            background-color: var(--background-mark-color);
            line-height: 1.2;

            .text {
                font-size: 0.75em;
            }

            &:empty {
                display: none;
            }
        }

        .played-at {
            color: var(--grey2-color);
            background-color: transparent;
            font-style: italic;
            top: 0.25em;
            padding: 0 0.1em 0 0;

            &.listen-date {
                right: 0.625em;
                top: 0.5em;
            }

            .themed.light & {
                background-color: transparent;
            }

            .date {
                line-height: 1.2;
            }

            &.listen-date .text {
                display: inline-flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
        }

        .genre .text,
        .owner .text,
        .views .text {
            font-size: 0.75em;
        }

        .actions {
            right: 0.5em;
            bottom: 0.5em;
            padding: 0;
        }

        .rate {
            right: 0.5em;
            top: 0.125em;
            padding: 0;
        }

        .genre {
            font-style: italic;
        }

        &.compact {
            .thumbnail {
                width: 4.5em;
                height: 4.5em;
            }

            .cover-art {
                inset: 0.375em;
            }

            .title,
            .artist,
            .owner,
            .genre,
            .blurb,
            .album,
            .year,
            .views {
                left: 4.75em;
            }

            .title {
                top: 0.125em;

                .text {
                    font-size: 1em;
                }
            }

            .artist,
            .genre,
            .owner {
                top: 1.25em;
            }

            .artist .text {
                font-size: 0.875em;
            }

            .album,
            .blurb,
            .year,
            .views {
                top: 2.5em;

                .text {
                    font-size: 0.75em;
                }
            }

            .playlists & .blurb {
                top: 1.675em;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                white-space: normal;
                line-height: 1;
            }

            .year {
                .artist-albums & {
                    top: 1.375em;

                    .text {
                        font-size: 0.875em;
                    }
                }
            }

            .rate {
                .artists & {
                    right: auto;
                    top: 2.75em;
                    left: 4.75em;
                }
            }

            .actions {
                font-size: 0.875em;
            }
        }

        &.minimal {
            .thumbnail {
                width: 2em;
                height: 2em;
            }

            .cover-art {
                inset: 0.25em;

                .icon {
                    padding: 0;
                }
            }

            .title {
                top: 0.25em;
                left: 2em;
                right: 0.25em;

                .text {
                    font-size: 1em;
                }
            }

            .rate,
            .actions {
                display: none;
            }
        }

        &.thin {
            .title,
            .artist,
            .owner,
            .genre {
                right: 0.25em;
            }

            .blurb,
            .album,
            .year,
            .views {
                right: 1em;
            }
        }

        &.thin {
            .actions .icon-button:not(.icon-button-menu) {
                display: none;

                .artists & {
                    display: inline-flex;
                }
            }

            &:not(.minimal) {
                .duration,
                .track-count,
                .play-count,
                .played-at {
                    top: calc(0.5em + 1px);
                    color: var(--soft-white) !important;
                    background-color: rgba(0, 0, 0, 0.75);
                }

                .duration,
                .track-count,
                .play-count {
                    right: calc(100% - 5.5em + 1px);
                    border-bottom-right-radius: 0;
                    border-top-left-radius: 0;
                }

                .played-at {
                    right: auto;
                    left: calc(0.5em + 1px);
                    width: calc(5em - 2px);
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    text-align: center;

                    .text {
                        vertical-align: 0.125em;
                    }

                    &.listen-date {
                        padding: 0.25em 0;
                    }
                }
            }

            &.compact {
                .duration,
                .track-count,
                .play-count,
                .played-at {
                    right: calc(100% - 4.125em + 1px);
                    top: calc(0.375em + 1px);
                }
            }

            .rate {
                .albums & {
                    display: none;
                }
            }
        }

        &.minimal {
            .list-view-row {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }

            .title,
            .duration,
            .track-count,
            .play-count {
                position: static;
            }

            .title {
                flex: auto;
                margin-left: 2.5em;
                margin-top: 0;
            }

            .duration,
            .track-count,
            .play-count {
                flex: initial;
                margin-right: 0.25em;
                overflow: visible;
            }
        }

        .unplayable:not(.selected) {
            .list-view-cell {
                color: var(--grey1-color);
            }

            .title {
                color: var(--grey2-color);
            }
        }
    }

    .media-items:not(.multi-disc) & {
        .disc {
            display: none;
        }
    }

    .folder-items & {
        .cover-art {
            background: transparent;
            border: none;

            .icon {
                color: var(--text-color);
                height: 1.25em;
                padding: 0 !important;
            }
        }

        .title {
            margin-left: 2.25em;
        }
    }

    &.thin .sun-clock {
        --sun-color: 0, 0%, 92.2%;
    }

    .light &:not(.thin) .sun-clock {
        --am-color: hsla(var(--sun-color), calc(100% - var(--am-alpha)));
        --pm-color: hsla(var(--sun-color), calc(100% - var(--pm-alpha)));
    }

    &:not(.focus) + .status-bar .selected {
        display: none;
    }
}
