.media-list-status-bar {
    line-height: normal;
    display: flex;
    flex-direction: row;

    &-text,
    &-icons {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &-text {
        flex: auto;
    }

    &-icons {
        flex: initial;
        margin-left: auto;
    }

    .progress-ring {
        margin-right: 0.25em;
    }

    .message.error {
        color: inherit;
    }
}