.progress-ring {
    &.busy {
        animation: progress-spin 1s linear infinite;
    }
}

@keyframes progress-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(1turn);
    }
}
