.progress-ring {
    &-bg {
        fill: none;
    }

    &.complete &-bg {
        fill: green;

        .frame-light & {
            fill: lime;
        }
    }

    &-tick {
        fill: white;

        .frame-light & {
            fill: black;
        }
    }

    &.error {
        stroke: var(--frame-text-color);
    }

    &.error &-bg {
        fill: var(--error-color);
    }

    &.busy &-bg {
        fill: none;
    }

    &.busy {
        animation: progress-spin 1s linear infinite;
    }
}

@keyframes progress-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(1turn);
    }
}
