@use 'styles/effects.scss';

.empty-screen {
    @include effects.inset;
    flex: auto;
    padding: var(--gutter-width);

    .note:only-child {
        padding: 1rem;
        margin: 1rem;
    }
}
