.media-service-credentials {
    width: 100%;

    label,
    input[type="text"],
    input[type="password"] {
        width: 100%;
        margin-left: 0;
    }

    .service-link {
        margin: 0;
        justify-content: flex-start;
    }

    & .credentials-requirements {
        border-radius: 0.25em;
        font-size: 0.875em;

        p + p {
            margin-top: 1em
        }
    }
}
