.media-service-credentials {
    width: 100%;

    label,
    input[type="text"],
    input[type="password"] {
        width: 100%;
        margin-left: 0;
    }

    .credentials-registration {
        p {
            margin: 0;
        }
    }

    .credentials-requirements {
        padding-top: 0.5em;
        border-radius: 0.25em;
        font-size: 0.875em;

        p + p {
            margin-top: 1em
        }
    }

    .credentials-callback {
        display: flex;
        align-items: center;

        & + .credentials-callback {
            margin-top: 0.25em;
        }

        input[type="radio"] {
            flex: initial;
            margin-right: 0.5em;
        }

        input[type="text"] {
            flex: auto;
            margin-right: 0.5em;
        }

        input:not(:checked) + input {
            background: transparent;
            opacity: 0.5;
        }

        .copy-button,
        .deprecated {
            margin-left: auto;
            font-size: max(0.75em, 10px);
            border-radius: calc(var(--roundness) * 0.75em);
        }

        .copy-button {
            padding: 0.125em 0.5em;
            min-width: 6.75em;
            margin-left: auto;
        }

        .deprecated {
            padding: 0 0.5em;
            border: 1px solid;
            font-variant: small-caps;
            user-select: none;
            text-decoration: none;
        }

        input:checked ~ .deprecated {
            color: orange;

            .themed.light & {
                color: var(--error-color);
            }
        }
    }
}
