.settings-dialog.media-service-selection-dialog {
    width: 30em;
    height: 38.5em;

    .dialog-body {
        flex-direction: column;

        & > p {
            margin: 0 0 1em 0;
        }
    }

    fieldset {
        font-size: 1.125em;
    }

    .dialog-button-cancel {
       display: none;
    }
}
