.theme-editor {
    .theme-name input {
        width: 16em;
    }

    input[type=color] {
        width: 25%;
        height: 2em;

        .browser-firefox & {
            height: 1.5em;
        }
    }

    button.small {
        margin-left: 0.5em;
    }
}
