.close-button {
    --amb-elevation: 0;
    --amb-light-hue: 0;
    --amb-light-saturation: 67%;
    --amb-key-light-intensity: 0.5;
    --hover-light-intensity: 0.55;
    --active-light-intensity: 0.45;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 1.25em;
    height: 1.25em;
    color: white;
    padding: 0;
    border: 1px solid var(--black);
    border-radius: var(--app-border-radius);

    .flat & {
        --surface-image: none;
    }

    .system & {
        border-radius: 0.25em;
    }

    .icon {
        width: 0.5em;
        vertical-align: baseline;
    }
}