.copy-button {
    display: inline-flex;
    align-items: center;
    text-align: left;
    font-size: max(0.875em, 10px);
    padding: 0.25em 1em;
    min-width: 7em;
    cursor: pointer;

    .icon {
        margin-right: 0.5em;
    }
}
