.icon-button {
    all: unset;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 1em;
    height: 1em;
    opacity: 0.75;
    border-radius: 50%;

    &:disabled {
        color: var(--grey1-color);
    }

    &:enabled {
        cursor: pointer;

        .focus-visible &:focus,
        &:hover {
            opacity: 1;
        }
    }

    &.with-overlay {
        padding: 0.25em;
        border-radius: 50%;
        background: radial-gradient(rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
        box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
        color: var(--soft-white);

        &:enabled:hover {
            background: radial-gradient(rgba(0, 0, 0, 0.92) 50%, rgba(0, 0, 0, 0.92), rgba(0, 0, 0, 0));
        }
    }

    &:active {
        transform: none;
    }

    .icon {
        width: inherit;
        height: inherit;
    }
}
