.icon-button {
    all: unset;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 1em;
    height: 1em;
    opacity: 0.75;
    border-radius: calc(var(--roundness) * 0.5em);
    outline-offset: 2px;
    outline-width: 2px;

    &:disabled {
        color: var(--grey1-color);
    }

    &:enabled {
        cursor: pointer;

        .focus-visible &:focus,
        &:hover {
            opacity: 1;
        }
    }

    &:active {
        transform: none;
    }

    .icon {
        width: inherit;
        height: inherit;
    }
}
