.icon-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1px 0;

    .icon-button {
        & ~ .icon-button {
            margin-left: 0.25em;
        }
    }
}
