.status-bar {
    display: flex;
    flex-direction: row;
    flex: initial;
    align-items: center;
    padding: var(--gutter-width) 0;
    font-size: 0.75em;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;

    .message.error {
        color: inherit;
    }

    .icon {
        margin-right: 0.25em;
    }
}
