.thumbnail-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid var(--black);
    border-radius: var(--app-border-radius);

    .themed.light & {
        background-color: rgba(0, 0, 0, 0.1);
    }

    &.icon {
        width: auto;
        height: auto;
        color: var(--grey2-color);
    }
}
