.filter-select {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: var(--gutter-width);

    label {
        flex: initial;
        margin-left: 0.25em;
    }

    select {
        flex: auto;
        min-width: 0;
        margin-right: 1px;
        cursor: pointer;

        &:disabled {
            color: var(--text-color);
            cursor: default;
        }
    }

    & + .error-box {
        margin-bottom: var(--gutter-width);
    }
}
