.media-browser {
    display: flex;
    flex-direction: column;
    position: absolute;
    inset: var(--gutter-width);
    bottom: 0;
    color: var(--frame-text-color);
    background-color: var(--frame-color);

    .splitter-rows > .layout-splitter {
        left: 0;
        width: 100%;
    }

    .artist-browser .splitter-rows > .layout-splitter {
        left: var(--gutter-width);
        width: calc(100% - var(--gutter-width));
    }

    .splitter-columns > .layout-splitter {
        top: 0;
        height: calc(100% - var(--gutter-width));
    }

    .panel {
        inset: 0;

        &.artists {
            right: var(--gutter-width);
        }

        &.artist-albums {
            left: var(--gutter-width);
        }
    }

    > .panel {
        position: static;
        flex: auto;
    }

    .playlist-items,
    .album-items {
        top: var(--gutter-width);
    }

    .artist-browser .album-items {
        left: var(--gutter-width);
    }

    .options {
        ul {
            display: block;
            text-align: center;
        }

        li {
            display: inline-block;
            vertical-align: middle;
            margin: 0 0.5em;
        }

        margin-bottom: calc(var(--gutter-width) / 2);
    }

    &.lastfm-browser,
    &.listenbrainz-browser {
        .album-browser .albums .list-view:not(.thin) {
            .title,
            .artist {
                right: 4em;
            }
        }
    }

    &.plex-browser {
        .album-browser:not(.search-browser) .albums .list-view:not(.thin) {
            .title,
            .artist {
                right: 4em;
            }
        }
    }
}
