.media-source-selector {
    display: flex;
    align-items: flex-end;

    ul {
        margin-left: auto;
        margin-right: auto;

        &:has(+ .icon-button-menu) {
            margin-right: 0;
        }
    }
}