.media-source-selector {
    display: flex;
    align-items: flex-end;
    font-size: 0.875em;

    ul {
        margin-left: auto;
        margin-right: auto;

        &:has(+ .icon-button-menu) {
            margin-right: 0;
        }
    }
}