.page-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.125em;
    background: linear-gradient(
        to bottom,
        var(--frame2-color) 80%,
        var(--frame-color)
    );
    color: var(--frame-text-color);
    border-width: 1px;
    border-style: solid;
    border-color:
        var(--frame-color-hi)
        var(--frame-color-lo)
        var(--frame-color-lo)
        var(--frame-color-hi);
    padding: 0.25em;
    margin-bottom: var(--gutter-width);
    border-radius: var(--app-border-radius);
    text-indent: calc(1.5em + var(--roundness) * 0.25em);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;

    .themed.flat & {
        background: var(--frame2-color);
    }

    .themed.frame-dark.flat & {
        border-color: var(--black);
    }

    .media-source-label {
        max-width: 100%;

        .icon {
            position: absolute;
            left: calc(0.375em + var(--roundness) * 0.25em);
            width: auto;
            min-width: 1.125em;
            height: 1.125em;
            aspect-ratio: 1;
        }
    }

    .icon-button-menu {
        margin-left: auto;
        margin-right: 0.125em;
        font-size: 0.875em;
    }

    .date-picker {
        margin-left: 0.25em;

        select {
            background: var(--frame2-color);
            color: var(--frame-text-color);
            padding: 0 0.125em;
            border: 0;
            border-radius: 0;
            text-indent: 0;
            min-width: 3em;
            cursor: pointer;

            &:hover {
                background: var(--frame-text-color);
                color: var(--frame2-color);
            }
        }
    }
}
