.pinned-playlist-browser {
    .playlists {
        bottom: auto;
        height: 6.25em;

        .media-source-label {
            font-size: 1.125em;
        }

        .track-count .text {
            font-size: 1em;
        }
    }

    .playlist-items {
        top: calc(var(--gutter-width) + 6.25em);
    }
}
