@use 'styles/effects.scss';

.pinned-playlist {
    .playlists {
        bottom: auto;
        height: 6.125em;

        &-error,
        .list-view-row:hover {
            background-color: var(--background-color);
        }

        .media-source-label {
            font-size: 1.25em;

            .text {
                font-size: inherit;
            }
        }

        > .media-list.list-view-card.thin .track-count {
            right: calc(100% - 5.5em + 1px);
            top: calc(0.5em + 1px);
        }

        .h2 {
            top: 2.25em
        }

        .track-count .text {
            font-size: 1em;
        }

        .actions .icon-button {
            visibility: inherit;
        }
    }

    .playlist-items {
        top: calc(var(--gutter-width) + 6.5em);
    }

    .error-box {
        .message {
            display: flex;
            flex-direction: row;
            align-items: center;

            .icon {
                margin-right: 0.25em;
            }

            .text {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .buttons {
            text-align: right;
        }
    }
}
