.pinned-playlist-browser {
    .playlists {
        bottom: auto;
        height: 6.125em;

        .cover-art {
            inset: 0.25em;
        }

        .title {
            top: 0.125em;
        }

        .media-source-label {
            font-size: 1.125em;
        }

        > .media-list.list-view-card.thin .track-count {
            right: calc(100% - 5.75em);
            top: 0.25em;
        }

        .track-count .text {
            font-size: 1em;
            line-height: 1.5;
        }
    }

    .playlist-items {
        top: calc(var(--gutter-width) + 6.25em);
    }
}
