@import 'styles/mixins.scss';

.pinned-playlist {
    .playlists {
        bottom: auto;
        height: 6.125em;

        &-error {
            background-color: var(--background-color);
        }

        .cover-art {
            inset: 0.25em;
        }

        .title {
            top: 0.125em;
        }

        .blurb {
            @include line-clamp(2);
            top: 2em;
            line-height: 1.25;
        }

        .media-source-label {
            font-size: 1.25em;

            .text {
                font-size: inherit;
            }
        }

        > .media-list.list-view-card.thin .track-count {
            right: calc(100% - 5.75em);
            top: 0.25em;
        }

        .track-count .text {
            font-size: 1em;
            line-height: 1.5;
        }

        &-error {
            padding: 1em;

            .message {
                display: flex;
                flex-direction: row;
                align-items: center;

                .icon {
                    margin-right: 0.25em;
                }
            }
        }
    }

    .playlist-items {
        top: calc(var(--gutter-width) + 6.25em);
    }
}
