#app-layout {
    & > .layout-pane-1 {
        min-width: 18rem;
        flex-basis: 78%;
    }

    & > .layout-pane-2 {
        min-width: 20rem;
    }
}

#media-library-layout {
    & > .layout-pane-1 {
        min-width: calc(3rem + 2 * var(--gutter-width));
        flex-basis: 22%;
    }
    
    & > .layout-pane-2 {
        min-width: calc(14rem - 2 * var(--gutter-width));
    }
}

#media-playback-layout {
    & > .layout-pane-1 {
        min-height: calc(9rem + 5 * var(--gutter-width));
        flex-basis: 73.5%;
    }

    & > .layout-pane-2 {
        min-height: 12rem;
    }
}

#albums-tracks-layout,
#artist-albums-tracks-layout,
#artists-albums-layout,
#playlists-items-layout {
    & > .layout-pane-1 {
        min-height: 12.5rem;
        flex-basis: 50%;
    }

    & > .layout-pane-2 {
        min-height: 13rem;
    }
}

#artists-albums-tracks-layout {
    & > .layout-pane-1 {
        min-width: 7rem;
        flex-basis: 33%;
    }

    & > .layout-pane-2 {
        min-width: 12rem;
    }
}
