.app.flat {
    --frame-color-hi: var(--frame-color);
    --frame-color-lo: var(--frame-color);
    --frame2-color-hi: var(--frame2-color);
    --frame2-color-lo: var(--frame2-color);
    --button-color-hi: var(--button-color);
    --button-color-lo: var(--button-color);
    --scrollbar-color-hi: var(--scrollbar-color);
    --scrollbar-color-lo: var(--scrollbar-color);
    --media-button-background: var(--media-button-background-flat);
}
