.app.flat {
    --frame-color-hi: var(--frame-color);
    --frame-color-lo: var(--frame-color);
    --button-color-hi: var(--button-color);
    --button-color-lo: var(--button-color);
    --media-button-background: var(--media-button-background-flat);
}
