.manage-playlists {
    &-buttons {
        text-align: right;
        display: flex;
        flex-direction: row;
    }

    &-import {
        margin-top: 2em;
    }

    &-delete {
        margin-left: auto;
    }
}
