.lyrics {
    height: 100%;

    &-not-available {
        text-align: center;
    }

    .text-box {
        max-height: 100%;
        line-height: 1.5;
        font-family: system-ui;
        font-style: italic;

        .scrollable {
            --scrollbar-width: max(10px, calc(1em * var(--scrollbar-size)));
        }

        p {
            margin: 0;

            &:empty {
                margin-top: 1em;
            }
        }

        & + p {
            font-style: italic;
            font-size: 0.75em;
            position: absolute;
            bottom: -3em;
            left: 0;
        }
    }

    .error-box {
        border: 0;
        padding: 0;
    }
}