@use 'styles/effects.scss';

.media-info {
    position: relative;
    width: 100%;
    line-height: 1;

    &-main {
        display: flex;
        flex-direction: column;
        position: relative;
        padding-left: 11.25em;
        padding-bottom: 1em;
        min-height: 11em;

        p {
            margin: 0.5em 0 0 0;
        }

        .external-link {
            text-decoration: underline;
        }
    }

    .thumbnail {
        position: absolute;
        left: 0;
        width: 10em;
        height: 10em;
        padding: 0;

        .cover-art {
            position: absolute;
            inset: 0;
        }
    }

    .title {
        @include effects.line-clamp(3);
        margin-bottom: 0.125em;
        font-size: 1.5em;
        overflow-wrap: anywhere;
        hyphens: auto;
        line-height: normal;

        &:has(+ .duration, + .track-count) {
            margin-right: 2.25em;
        }
    }

    .duration,
    .track-count {
        position: absolute;
        top: -0.25em;
        right: 0;
        min-width: 1.5em;
        height: 1.5em;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0 0.5em;
        border-radius: calc(var(--roundness) * 0.75em);
        background-color: var(--background-mark-color);
        color: var(--text-color-max);
        font-size: 0.875em;
        user-select: none;
        line-height: normal;

        &:empty {
            display: none;
        }
    }

    .artist,
    .album,
    .genre,
    .station-name {
        display: flex;
        margin-top: 0.5em;
        gap: 0.25em;

        .text-label {
            white-space: nowrap;
        }
    }

    .artist {
        margin-top: 0.25em;
        margin-bottom: 0.125em;
        font-size: 1.125em;
    }

    .external-view {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 1.625em;
    }

    .genre {
        font-style: italic;
        font-size: 0.875em;

        .text-label {
            font-style: normal;
        }
    }

    .description {
        margin-top: 0.5em;
        font-size: 0.75em;
        min-height: 1em;
        max-height: 10.75em;
        text-align: justify;

        .scrollable {
            --scrollbar-size: max(10px, calc(1.25em * var(--scrollbar-thickness)));
            --scrollbar-color-hi: var(--scrollbar-color);
            --scrollbar-color-lo: var(--scrollbar-color);
        }
    }

    &-icon-bar {
        display: flex;
        flex-wrap: wrap;
        gap: 0 2em;
        margin-top: auto;

        h4:has(+ &),
        p:has(+ &) {
            margin-bottom: 1em;
        }
    }

    .badge.explicit {
        .themed.light & {
            border-color: var(--black);
        }
    }

    .icon-buttons {
        margin-left: auto;
        font-size: 1.375em;

        .star-rating {
            font-size: 1.125em;
        }
    }
}
