.media-info {
    position: relative;
    width: 100%;
    line-height: 1;

    &-main {
        position: relative;
        padding-left: 11.25em;
        padding-bottom: 1em;
        min-height: 10em;
        margin-bottom: 1em;

        .external-link:any-link {
            color: inherit;
            text-decoration: underline;

            .icon-link {
                color: inherit;
            }

            &:active,
            &:active > .icon {
                color: var(--link-active-color);
            }
        }
    }

    .thumbnail {
        position: absolute;
        left: 0;
        width: 10em;
        height: 10em;
        padding: 0;
        color: var(--grey2-color);

        .cover-art {
            position: absolute;
            inset: 0;
        }
    }

    .artist,
    .album {
        margin-top: 0.5em;
    }

    .title {
        margin-bottom: 0.25em;
        font-size: 1.5em;
        word-wrap: break-word;

        & + .owner {
            margin-top: 0;
        }
    }

    .duration,
    .track-count {
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        padding: 0.125em .375em;
        color: var(--text-color);
        background-color: rgba(0, 0, 0, 0.25);
        border-radius: 0.25em;

        &:empty {
            display: none;
        }
    }

    .external-view {
        display: flex;
        flex-direction: row;
        align-items: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 1.625em;
        padding: 1px 0;
        color: var(--link-color);

        > .icon {
            font-size: 1.625em;
            margin-right: 0.25em;
        }
    }

    .genre {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        padding: 1px 0;
    }

    .blurb {
        margin-top: 1em;
        font-size: 0.75em;
        min-height: 1em;
        max-height: 10em;
        text-align: justify;

        .scrollable {
            --scrollbar-size: max(10px, calc(1.25em * var(--scrollbar-thickness)));
            --scrollbar-color-hi: var(--scrollbar-color);
            --scrollbar-color-lo: var(--scrollbar-color);
        }
    }

    .icon-button {
        border-radius: calc(var(--roundness) * 0.5em);
        outline-offset: 2px;
        outline-width: 2px;
    }

    .icon-buttons {
        position: absolute;
        bottom: 0;
        right: 0;
        justify-content: right;
        font-size: 1.375em;

        .star-rating {
            font-size: 1.25em;
        }
    }

    &.artist-info .cover-art {
        border-radius: 50%;
    }

    &.debug pre {
        max-height: 15em;
        font-size: 0.75em;
        overflow: auto;
    }
}
