.media-info-dialog {
    font-size: min(max(1.25vw, 12px), 1.125em);

    &:not(.empty) {
        width: 40em;
    }

    .dialog-buttons {
        display: flex;
        text-align: left;

        .button {
            margin-left: auto;
        }

        .navigation-button {
            margin-left: 0;
            cursor: pointer;
        }
    }
}
