.scrobbling-options {
    display: flex;
    flex-direction: row;
    align-items: center;

    .status {
        flex: auto;
        margin-right: 0.5em;

        .list-view & {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .button {
        margin-left: auto;
        flex: initial;

        &.scrobble-as {
            cursor: pointer;
        }
    }
}