.visualizer-info {
    position: relative;
    width: 100%;
    margin-top: 1.25em;
    padding-top: 1em;
    border-top: 1px solid;
    font-size: 0.75em;
    color: var(--grey2-color);

    p {
        margin: 0;
    }

    .no-visualizer-reason {
        font-style: italic;
        margin-top: 0.25em;
    }

    .external-view {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .external-link {
        margin-left: 0.25em;
        text-decoration: underline;

        &-text {
            max-width: 24em;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    .icon-buttons {
        position: absolute;
        top: 0.75em;
        right: 0.125em;
        justify-content: right;
        font-size: 1.25em;
    }
}
