.text-box {
    line-height: 1.25;

    p {
        margin: 0 0 1em 0;
    }

    .scrollable.overflow-y &-content {
        padding-right: 1ex;
    }

    .scrollbar-horizontal {
        display: none;
    }
}
