.cover-art {
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: var(--app-border-radius);
    overflow: hidden;

    .themed.light & {
        background-color: rgba(0, 0, 0, 0.1);
        border-color: var(--black);
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        aspect-ratio: 1;
    }

    .icon {
        width: 100%;
        height: 100%;
        padding: 1em;

        /* Some of these SVGs look too big when scaled up from icon size. */

        &-playlist {
            padding: 0.75em;
        }

        &-audio,
        &-artist {
            padding: 0.5em;
        }

        &-album {
            padding: 0.25em;
        }
    }
}
