.cover-art {
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: var(--app-border-radius);
    overflow: hidden;

    .themed.light & {
        background-color: rgba(0, 0, 0, 0.1);
        border-color: var(--black);
    }

    img {
        object-fit: cover;
        aspect-ratio: 1
    }

    .icon {
        width: auto;
        height: auto;
        color: var(--grey2-color);
    }
}
