.cover-art {
    position: relative;
    background-color: var(--background-mark-color);
    border: 1px solid var(--thumbnail-border-color);
    border-radius: calc(var(--roundness) * 12.5%);
    overflow: hidden;
    user-select: none;

    &-image {
        object-fit: cover;
        width: 100%;
        height: 100%;
        aspect-ratio: 1;

        &.icon {
            width: 100%;
            height: 100%;
            padding: 12.5%;
            vertical-align: baseline;

            /* Some of these SVGs look too big when scaled up from icon size. */

            &-playlist {
                padding: 0.75em;
            }

            &-audio,
            &-artist {
                padding: 0.5em;
            }

            &-album {
                padding: 0.25em;
            }
        }

        &:not(.icon) {
            font-size: 0.625em;
        }
    }

    &-icon-overlay {
        position: absolute;
        inset: 0;
        color: white;
        background-color: rgba(0, 0, 0, 0.33);

        .icon {
            position: absolute;
            bottom: 7.5%;
            right: 7.5%;
            width: 25%;
            height: 25%;
            filter: drop-shadow(2px 1px 0 rgba(16, 16, 16, 1));
        }
    }

    &-star & {
        &-icon-overlay {
            background-color: rgba(0, 0, 80, 0.33);
        }

        &-icon {
            fill: skyblue;
        }
    }

    &-audio & {
        &-icon {
            right: 5%;
        }
    }

    &-video & {
        &-image:not(.icon) {
            filter: sepia(1);
        }

        &-icon {
            fill: yellow;
        }
    }
}
