@import 'styles/mixins.scss';

.subsonic-genre-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: var(--gutter-width);

    label {
        flex: initial;
        margin-left: 0.25em;
    }

    select {
        flex: auto;
        min-width: 0;
        cursor: pointer;
    }
}
