@use 'styles/effects.scss';

.error-screen {
    display: flex;
    flex-direction: column;
    flex: auto;

    &-content {
        @include effects.inset;
        flex: auto;
        padding: var(--gutter-width);
    }

    h2 {
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 0.75em;
    }

    pre {
        white-space: pre-wrap;
    }

    .buttons {
        margin-top: 2em;
        text-align: left;
    }

    button.disconnect {
        white-space: normal;
    }
}
