@use 'styles/effects.scss';

.error-box {
    @include effects.inset;
    flex: auto;
    padding: 1em;
    border-radius: var(--app-border-radius);
    overflow: hidden;

    h2 {
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 0.75em;
    }

    .buttons {
        margin-top: 1em;
        text-align: left;
    }

    button.disconnect {
        white-space: normal;
    }
}