@use 'styles/effects.scss';

.external-link {
    white-space: nowrap;
    text-decoration: none;

    &:hover &-text,
    &:active &-text {
        text-decoration: underline;
    }

    &-content {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-decoration: inherit;
    }

    &-text {
        border-radius: calc(var(--roundness) * 0.5em);
        outline-offset: 0.125em;
        text-decoration: inherit;

        .icon + & {
            margin-left: 0.25em;
        }
    }

    .focus-visible &:focus &-text {
        @include effects.outline;
        outline-width: 2px;
    }

    .icon {
        text-decoration: none;
    }

    > .icon-link {
        position: relative;
        left: 0.5em;
        top: -0.75em;
        font-size: 0.625em;
    }
}
