.badge {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.25em 0.5em;
    background-color: var(--text-color);
    color: var(--background-color);
    border: 1px solid var(--text-color);
    border-radius: calc(var(--roundness) * 0.75em);
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-transform: uppercase;
    user-select: none;
    min-width: 1em;
    height: calc(2em - 2px);

    &.bit-rate {
        background-color: transparent;
        color: var(--text-color);
        border-color: var(--text-color);
        font-weight: normal;
    }

    &.explicit {
        border-color: orangered;
        background-color: orangered;
        color: white;
    }

    &.share-link {
        background: none;
        color: var(--text-color);
        border-color: var(--text-color);
        text-align: left;
        text-decoration: none;
        text-transform: none;
        font-weight: normal;
        font-size: inherit;
        cursor: pointer;

        &.copied {
            cursor: default;
        }
    }

    &.external {
        background-color: transparent;
        border: 0;
        width: 2em;
        height: 2em;

        .icon {
            width: inherit;
            height: inherit;
        }
    }

    & ~ .badge {
        margin-left: 0.75em;
    }
}
