@mixin surface {
    --surface-image: none;
    /*
        From: ambient.css:
        https://github.com/kikkupico/ambientcss
    */
    background-color: hsl(
        var(--amb-light-hue)
        var(--amb-light-saturation)
        calc(var(--amb-key-light-intensity) * 100%)
    );
    box-shadow:
        hsl(
                var(--amb-light-hue) var(--amb-light-saturation) 0% /
                    calc(1 - var(--amb-fill-light-intensity))
            )
            calc(var(--amb-light-x) * var(--amb-elevation) * -8px)
            calc(var(--amb-light-y) * var(--amb-elevation) * -8px) calc(var(--amb-elevation) * 8px)
            calc(var(--amb-elevation) * -4px),
        inset calc(var(--amb-light-x) * var(--amb-chamfer-width) * -1px)
            calc(var(--amb-light-y) * var(--amb-chamfer-width) * -1px) 0px 0px
            hsl(
                var(--amb-light-hue) var(--amb-light-saturation) 100% /
                    calc(var(--amb-chamfer) * var(--amb-key-light-intensity))
            ),
        inset calc(var(--amb-light-x) * var(--amb-chamfer-width) * 1px)
            calc(var(--amb-light-y) * var(--amb-chamfer-width) * 1px) 0px 0px
            hsl(
                var(--amb-light-hue) var(--amb-light-saturation) 0% /
                    calc(
                        var(--amb-chamfer) *
                            calc(var(--amb-key-light-intensity) - var(--amb-fill-light-intensity))
                    )
            ),
        inset calc(var(--amb-light-x) * var(--amb-fillet-width) * -2px)
            calc(var(--amb-light-y) * var(--amb-fillet-width) * -2px) 2px 0px
            hsl(
                var(--amb-light-hue) var(--amb-light-saturation) 100% /
                    calc(var(--amb-fillet) * var(--amb-key-light-intensity))
            ),
        inset calc(var(--amb-light-x) * var(--amb-fillet-width) * 2px)
            calc(var(--amb-light-y) * var(--amb-fillet-width) * 2px) 2px 0px
            hsl(
                var(--amb-light-hue) var(--amb-light-saturation) 0% /
                    calc(
                        var(--amb-fillet) *
                            calc(var(--amb-key-light-intensity) - var(--amb-fill-light-intensity))
                    )
            );
}

@mixin convex {
    --surface-image: linear-gradient(
        hsl(
            var(--amb-light-hue),
            var(--amb-light-saturation),
            calc(var(--amb-key-light-intensity) * 130%)
        ),
        hsl(
            var(--amb-light-hue)
			var(--amb-light-saturation)
            calc(var(--amb-key-light-intensity) * 100%)
        ) 33% 67%,
        hsl(
            var(--amb-light-hue),
            var(--amb-light-saturation),
            calc(var(--amb-key-light-intensity) * 85%)
        )
    );
    background-image: var(--surface-image);
}

@mixin concave {
    --surface-image: linear-gradient(
        hsl(
            var(--amb-light-hue),
            var(--amb-light-saturation),
            calc(var(--amb-key-light-intensity) * 85%)
        ),
        hsl(
            var(--amb-light-hue)
			var(--amb-light-saturation)
            calc(var(--amb-key-light-intensity) * 100%)
        ) 33% 67%,
        hsl(
            var(--amb-light-hue),
            var(--amb-light-saturation),
            calc(var(--amb-key-light-intensity) * 130%)
        )
    );
    background-image: var(--surface-image);
}

@mixin inset {
    background-color: var(--background-color);
    color: var(--text-color);
    border-width: 1px;
    border-style: solid;
    border-color:
        var(--frame-color-lo)
        var(--frame-color-hi)
        var(--frame-color-hi)
        var(--frame-color-lo);
}

@mixin button {
    @include surface;
    --amb-light-hue: var(--button-color-h);
    --amb-light-saturation: var(--button-color-s);
    --amb-key-light-intensity: var(--button-color-l2);
    --amb-chamfer: 1;
    --amb-chamfer-width: 1;
    --amb-elevation: var(--button-elevation);
    --hover-light-intensity: min(calc(var(--button-color-l2) + 0.05), 1);
    --active-light-intensity: max(calc(var(--button-color-l2) - 0.05), 0);
    color: var(--button-text-color);
    border: 1px solid var(--black);
    border-radius: calc(var(--roundness) * 1em);
}

@mixin outline {
    outline: solid var(--focus-ring-color);
}

/* For browser-specific pseudo elements (e.g. --moz-*) */
@mixin pressable-active {
    --amb-chamfer: 0;
    --amb-elevation: 0;
    --amb-key-light-intensity: var(--active-light-intensity);
}

@mixin pressable {
    &:hover {
        --amb-key-light-intensity: var(--hover-light-intensity);
    }

    &:active {
        @include pressable-active;
    }

    &.active {
        @include pressable-active;
    }

    &:disabled {
        --amb-chamfer: 0;
        --amb-light-x: 0;
        --amb-light-y: 0;
    }
}

@mixin line-clamp($lines) {
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
}
