@import './mixins.scss';

html {
    font-size: calc(var(--font-size) * 1px);
    -webkit-font-smoothing: antialiased;
}

body {
    position: fixed;
    inset: 0;
    font-size: 1em;
}

body,
button,
input,
select,
textarea {
    font-family: var(--font-family);
    font-weight: 400;
    line-height: 1.5;
}

a:any-link {
    color: var(--link-color);

    &:visited {
        color: var(--link-visited-color);
    }

    &:active {
        color: var(--link-active-color);
    }
}

small {
    font-style: italic;

    p > &:only-child {
        display: block;
        line-height: 1.2;
    }
}

.selected-text {
    color: var(--selected-text-color);
    background-color: var(--selected-background-color-blurred);
}

.focus .selected-text {
    background-color: var(--selected-background-color);
}

.panel,
.page {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
}

.panel {
    isolation: isolate;
    contain: strict;
    inset: var(--gutter-width);
}

.page {
    @include inset;
    padding: 1rem;
    border-radius: var(--app-border-radius);

    p {
        margin: 1em 0;
    }
}

#app {
    position: absolute;
    isolation: isolate;
    contain: strict;
    inset: 0;
}

#popup {
    position: absolute;
    isolation: isolate;

    &:empty {
        pointer-events: none;
    }
}

.app {
    background-color: var(--frame-color);
    color: var(--frame-text-color);
}

#system {
    position: absolute;
    isolation: isolate;
    contain: strict;
    font-size: calc(min(max(var(--font-size), 12), 20) * 1px);

    &:empty {
        pointer-events: none;
    }
}

body.dragging {
    cursor: inherit !important;
    user-select: none !important;

    > * {
        pointer-events: none;
    }
}

.text-box {
    line-height: 1.5;
    overflow-y: auto;
}

.note {
    padding: 1em;
    margin: 1em 0;
    background-color: rgba(64, 128, 128, 0.1);
    border: 1px solid var(--grey2-color);
    border-radius: 0.25em;
    font-size: 0.75rem;

    .light & {
        background-color: rgba(255, 255, 0, 0.25);
        border-color: rgba(255, 165, 0, .75);
    }

    &.error {
        background-color: rgba(255, 0, 0, 0.1);
        border-color: red;
    }
}
