@import './mixins.scss';

html {
    font-size: calc(var(--font-size) * 1px);
    -webkit-font-smoothing: antialiased;
    background: var(--black);
}

body {
    position: fixed;
    inset: 0;
    font-size: 1em;
}

body,
button,
input,
select,
textarea {
    font-family: var(--font-family);
    font-weight: 400;
    line-height: 1.5;
}

a:any-link {
    &,
    & > .icon {
        color: var(--link-color);
    }

    &:visited,
    &:visited > .icon {
        color: var(--link-visited-color);
    }

    &:active,
    &:active > .icon {
        color: var(--link-active-color);
    }
}

.service-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .icon {
        margin-right: 0.375em;
    }
}

small {
    font-style: italic;
    font-size: 0.75em;

    p > &:only-child {
        display: block;
        line-height: 1.2;
    }
}

.selected-text {
    color: var(--selected-text-color);
    background-color: var(--selected-background-color-blurred);
}

.focus .selected-text {
    background-color: var(--selected-background-color);
}

.panel,
.page {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
}

.panel {
    isolation: isolate;
    contain: layout style size;
    inset: var(--gutter-width);
}

.page {
    @include inset;
    padding: 1rem;
    border-radius: var(--app-border-radius);
    overflow: hidden;

    p {
        margin: 1em 0;
    }
}

#app {
    position: absolute;
    isolation: isolate;
    contain: layout style size;
    inset: 0;
}

#popup,
#system {
    position: absolute;
    isolation: isolate;
    width: 100vw;
    background: none;

    &:empty {
        pointer-events: none;
    }
}

.app {
    background-color: var(--frame-color);
    color: var(--frame-text-color);
}

#system {
    contain: layout style size;
    font-size: min(max(calc(var(--font-size) * 1px), 12px), 22px, 3vh);
}

body.dragging {
    cursor: inherit !important;
    user-select: none !important;

    > * {
        pointer-events: none;
    }
}

.note {
    padding: 1em;
    margin: 1em 0;
    background-color: rgba(64, 128, 128, 0.1);
    border: 1px solid var(--grey2-color);
    border-radius: var(--app-border-radius);

    .system & {
        border-radius: 0.25em;
        font-size: 0.75em;
    }

    .light & {
        background-color: rgba(255, 255, 0, 0.25);
        border-color: rgba(255, 165, 0, .75);
    }

    &.error {
        background-color: rgba(255, 0, 0, 0.1);
        border-color: red;
    }
}

.error {
    color: var(--error-color);
}
