@use './effects.scss';

html {
    background: #32312f;
    font-family: var(--font-family);
    font-size: calc(var(--font-size) * 1px);
    -webkit-font-smoothing: antialiased;
}

body {
    position: fixed;
    inset: 0;
}

body,
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: 400;
    line-height: 1.5;
}

a {
    &:link {
        color: var(--link-color);
    }

    &:visited {
        color: var(--link-visited-color);
    }

    &:active {
        color: var(--link-active-color);
    }
}

small {
    font-style: italic;
    font-size: 0.75em;

    p > &:only-child {
        display: block;
        line-height: 1.2;
    }
}

.selected-text {
    color: var(--selected-text-color);
    background-color: var(--selected-background-color-blurred);
}

.focus .selected-text {
    background-color: var(--selected-background-color);
}

.panel,
.page {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
}

.panel {
    isolation: isolate;
    contain: layout style size;
    inset: var(--gutter-width);
}

.page {
    @include effects.inset;
    padding: 1rem;
    border-radius: var(--app-border-radius);
    overflow: hidden;

    p {
        margin: 1em 0;
    }
}

#app {
    position: absolute;
    isolation: isolate;
    contain: layout style size;
    inset: 0;
}

#popup,
#system,
#fullscreen-system {
    position: absolute;
    isolation: isolate;
    width: 100vw;
    background: none;
    font-family: var(--system-font-family);

    &:empty {
        pointer-events: none;
    }
}

.app {
    background-color: var(--frame-color);
    color: var(--frame-text-color);
}

#system {
    contain: layout style size;
    font-size: min(max(calc(var(--font-size) * 1px), 12px), 2vw, 3vh, 22px);
}

#fullscreen-system {
    font-size: max(1.5vw, 12px);
}

body.dragging {
    cursor: inherit !important;

    > * {
        pointer-events: none;
    }
}

.note {
    padding: 1em;
    margin: 1em 0;
    background-color: rgba(64, 128, 128, 0.1);
    border: 1px solid var(--grey2-color);
    border-radius: var(--app-border-radius);

    .system & {
        border-radius: 0.25em;
        font-size: 0.75em;
    }

    .light & {
        background-color: rgba(255, 255, 0, 0.25);
        border-color: rgba(255, 165, 0, .75);
    }

    &.error {
        background-color: rgba(255, 0, 0, 0.1);
        border-color: red;
    }
}

.error {
    color: var(--error-color);
}

.warning {
    font-style: italic;
}
