@use './effects.scss';

fieldset {
    position: relative;
    padding: 0.5em 1em 1em 1em;
    color: var(--text-color);
    border-radius: 0.25em;
    border: 0.125em solid var(--grey1-color);

    & + & {
        margin-top: 1em;
    }
}

legend {
    text-align: left;
    padding: 0 0.375em;
    white-space: nowrap;
}

label,
legend {
    user-select: none;
}

button,
input,
select,
textarea {
    padding: 0.125em 0.25em;
    border: 0;
    border-radius: calc(var(--roundness) * 1em);
}

input,
textarea {
    @include effects.inset;
}

input {
    padding: calc(0.125em - 2px) 0 calc(0.125em - 2px) 0.25em;
}

input::-webkit-inner-spin-button {
    opacity: 1;
}

select {
    border: 1px solid;
    user-select: none;
    outline-offset: -1px;
    text-indent: calc(var(--roundness) * 0.125em);
}

select,
textarea,
input:not([type="range"]) {
    .focus-visible &:focus {
        @include effects.outline;
    }
}

input[type="checkbox"],
input[type="radio"] {
    width: 1em;
    height: 1em;
    border: none;
    vertical-align: middle;

    & + label {
        vertical-align: middle;
    }

    & + label,
    label + & {
        outline-offset: 3px;
    }
}

input[type="radio"] {
    border-radius: 50%;
}

input[type="color"] {
    border: none;
    width: 3em;
    padding: 0;

    &::-webkit-color-swatch-wrapper {
        padding: 0;
    }

    & + & {
        margin-left:  0.5em;
    }
}

input[type="range"] {
    --track-color: currentColor;
    --track-radius: var(--track-height);
    --track-height: 0.25em;
    --thumb-color: currentColor;
    --thumb-width: 1.5em;
    --thumb-height: 1.5em;
    --thumb-radius: var(--thumb-height);
    --thumb-shadow: 0 0 1px calc(var(--thumb-height) / 10) var(--background-color);

    border: none;
    -webkit-appearance: none;
    appearance: none;
    padding: 0;
    background: transparent;
    color: var(--text-color);
    height: 0.5em;
    outline: none;

    @mixin track {
        width: 100%;
        height: var(--track-height);
        background-color: var(--track-color);
        border: none;
        border-radius: var(--track-radius);
        box-sizing: border-box;
    }

    @mixin thumb {
        appearance: none;
        width: var(--thumb-width);
        height: var(--thumb-height);
        background-color: var(--thumb-color);
        border: 0;
        border-radius: var(--thumb-radius);
        margin-top: calc(var(--track-height) / 2 - var(--thumb-height) / 2);
        box-sizing: border-box;
        box-shadow: var(--thumb-shadow);
    }

    &::-webkit-slider-runnable-track {
        @include track;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        @include thumb;
    }

    &::-moz-range-track {
        @include track;
    }

    &::-moz-range-thumb {
        @include thumb;
    }

    .focus-visible &:focus::-webkit-slider-thumb {
        @include effects.outline;
    }

    .focus-visible &:focus::-moz-range-thumb {
        @include effects.outline;
    }
}

label {
    border-radius: calc(var(--roundness) * 0.5em);
}

label + input,
label + select,
label + textarea {
    margin-left: 0.5em;
}

label + output,
input + label {
    padding-left: 0.5em;
}

input:disabled + label,
label:has(+ input:disabled) {
    color: var(--grey1-color);
}

input,
select,
textarea {
    background-color: var(--background-color);
    color: var(--text-color);

    &:disabled {
        color: var(--grey1-color);
        opacity: 1;
    }
}

button,
[role="button"] {
    @include effects.button;
    -webkit-appearance: none;
    appearance: none;
    padding: 0.125em 1em;
    text-align: center;
    white-space: nowrap;
    user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
    @include effects.pressable;

    &:disabled {
        filter: grayscale(1);
        background-image: none;
        opacity: 0.5;
        cursor: default;
        pointer-events: none;
    }

    .focus-visible &:focus {
        @include effects.outline;
    }

    & + & {
        margin-left: 0.75em;
    }

    &.small {
        padding: calc(0.25em - 1px) 0.875em;
        font-size: 0.75em;
    }
}

.buttons {
    text-align: right;
    margin-top: 1em;
}

.table-layout {
    display: table;
    width: 100%;

    & > p {
        display: table-row;
        line-height: 2;

        & > label {
            display: table-cell;
            width: 10%;
            white-space: nowrap;

            &:first-child {
                text-align: right;
            }
        }

        & > label + input,
        & > label + output,
        & > label + select,
        & > label + textarea {
            display: table-cell;
            width: calc(100% - 0.5em);
        }

        & > input,
        & > output,
        & > select,
        & > button {
            vertical-align: middle;
        }

        & > textarea {
            vertical-align: text-top;
        }

        input[type=checkbox],
        input[type=radio] {
            width: 1em;
        }
    }
}

.checkbox-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    line-height: 1.8;

    & > li {
        display: flex;
        flex-direction: row;
        align-items: center;

        .media-source-label {
            display: inline-flex;
        }
    }
}
