#app-layout {
    & > .layout-pane-1 {
        min-width: 20rem;
        flex-basis: 78%;
    }

    & > .layout-pane-2 {
        min-width: 20rem;
    }
}

#media-library-layout {
    & > .layout-pane-1 {
        min-width: 4rem;
        flex-basis: 17%;
    }
    
    & > .layout-pane-2 {
        min-width: 14rem;
    }
}

#media-playback-layout {
    & > .layout-pane-1 {
        min-height: 14.5rem;
        flex-basis: 73.5%;
    }

    & > .layout-pane-2 {
        min-height: 12rem;
    }
}

#albums-tracks-layout,
#artist-albums-tracks-layout,
#artists-albums-layout,
#playlists-items-layout {
    & > .layout-pane-1 {
        min-height: 12.5rem;
        flex-basis: 50%;
    }

    & > .layout-pane-2 {
        min-height: 13rem;
    }
}

#artists-albums-tracks-layout {
    & > .layout-pane-1 {
        min-width: 7rem;
        flex-basis: 33%;
    }

    & > .layout-pane-2 {
        min-width: 12rem;
    }
}
