.splitter {
    --layout-pane-min-size: 15rem;
    --layout-splitter-size: 0.3125rem;
}

#media-library-layout > .layout-pane-secondary {
    min-width: 10rem;
}

#media-playback-layout > .layout-pane-secondary {
    min-height: 12rem;
}

#main-layout > .layout-pane-primary {
    min-width: calc(10rem + var(--layout-pane-min-size) + var(--layout-splitter-size));
}

#main-layout > .layout-pane-secondary {
    min-width: 20rem;
}
