@mixin inset {
    background-color: var(--background-color);
    color: var(--text-color);
    border-width: 1px;
    border-style: solid;
    border-color:
        var(--frame-color-lo)
        var(--frame-color-hi)
        var(--frame-color-hi)
        var(--frame-color-lo);
}

@mixin button {
    color: var(--button-text-color);
    background-clip: padding-box;
    background-color: var(--button-color);
    background-image: var(--button-background);
    border: 1px solid var(--black);
    border-radius: calc(var(--roundness) * 1em);
}

@mixin outline {
    outline: solid var(--focus-ring-color);
}

@mixin pressable {
    transform-origin: bottom right;

    &:hover {
        filter: brightness(1.1);
    }

    &:active,
    &.active {
        filter: brightness(0.95);
        transform: scale(0.99);
    }

    &:disabled {
        filter: none;
        transform: none;
    }
}
