@use './libs/ambient.scss';
@use './_effects.scss';

:root {
    --black: black;
    --terminal--black: #282c34;
    --soft-white: #ebebeb;

    --font-size: 17.2;
    --font-family: Arial, sans-serif;
    --system-font-family: Arial, sans-serif;

    --background-color-h: 0;
    --background-color-s: 0%;
    --background-color-l: 0%;

    --background-mark-color: rgba(255, 255, 255, 0.1);
    --thumbnail-border-color: rgba(255, 255, 255, 0.2);

    --text-color-h: 0;
    --text-color-s: 0%;
    --text-color-l: 92.2%;

    --error-color: red;

    --frame-color-h: 192;
    --frame-color-s: 4.7%;
    --frame-color-l: 21%;
    --frame-color-l2: .21;

    --frame-text-color-h: 0;
    --frame-text-color-s: 0%;
    --frame-text-color-l: 92.2%;

    --focus-ring-color: #3390ff;

    --link-color: currentColor;
    --link-visited-color: var(--link-color);
    --link-active-color: rgb(255, 40, 40);
    --currently-playing-color-light: yellow;
    --currently-playing-color-dark: blue;

    --spacing: 0.375;
    --roundness: 0.25;
    --scrollbar-thickness: 1;
}

.themed {
    @include effects.surface;
    --amb-light-hue: var(--frame-color-h);
    --amb-light-saturation: var(--frame-color-s);
    --amb-key-light-intensity: var(--frame-color-l2);
    --amb-fill-light-intensity: 0.4;

    --frame2-color-h: var(--frame-color-h);
    --frame2-color-s: calc(var(--frame-color-s) + 5%);
    --frame2-color-l: calc(var(--frame-color-l) + 5%);
    --frame2-color-l2: min(calc(var(--frame-color-l2) + 0.05), 1);

    --button-color-h: var(--frame-color-h);
    --button-color-s: calc(var(--frame-color-s) + 5%);
    --button-color-l: calc(var(--frame-color-l) + 5%);
    --button-color-l2: min(calc(var(--frame-color-l2) + 0.05), 1);

    --scrollbar-color-h: var(--button-color-h);
    --scrollbar-color-s: var(--button-color-s);
    --scrollbar-color-l: var(--button-color-l);
    --scrollbar-color-l2: var(--button-color-l2);

    --background-color: hsl(var(--background-color-h),
            var(--background-color-s),
            var(--background-color-l));

    --text-color: hsl(var(--text-color-h),
            var(--text-color-s),
            var(--text-color-l));

    --text-color-max: hsl(var(--text-color-h),
            var(--text-color-s),
            max(var(--text-color-l), 80%));

    --grey1-color: hsl(var(--text-color-h),
            calc(var(--text-color-s) * 0.5),
            calc(var(--text-color-l) * 0.5));

    --grey2-color: hsl(var(--text-color-h),
            calc(var(--text-color-s) * 0.5),
            calc(var(--text-color-l) * 0.75));

    --frame-color: hsl(var(--frame-color-h),
            var(--frame-color-s),
            var(--frame-color-l));

    --frame2-color: hsl(var(--frame2-color-h),
            var(--frame2-color-s),
            var(--frame2-color-l));

    --frame-color-hi: hsl(var(--frame-color-h),
            var(--frame-color-s),
            calc(var(--frame-color-l) + (100% - var(--frame-color-l)) * 0.15));

    --frame-color-lo: hsl(var(--frame-color-h),
            var(--frame-color-s),
            calc(var(--frame-color-l) - var(--frame-color-l) * 0.5));

    --frame-text-color: hsl(var(--frame-text-color-h),
            var(--frame-text-color-s),
            var(--frame-text-color-l));

    --button-color: hsl(var(--button-color-h),
            var(--button-color-s),
            var(--button-color-l));

    --button-text-color: hsl(var(--button-text-color-h),
            var(--button-text-color-s),
            var(--button-text-color-l));

    --scrollbar-color: hsl(var(--scrollbar-color-h),
            var(--scrollbar-color-s),
            var(--scrollbar-color-l));

    --scrollbar-track-color: hsl(
        var(--scrollbar-color-h),
        var(--scrollbar-color-s),
        calc(var(--scrollbar-color-l) - var(--scrollbar-color-l) * 0.5)
    );

    --scrollbar-text-color: hsl(var(--scrollbar-text-color-h),
            var(--scrollbar-text-color-s),
            var(--scrollbar-text-color-l));

    --media-button-color: hsl(var(--media-button-color-h),
            var(--media-button-color-s),
            var(--media-button-color-l));

    --media-button-text-color: hsl(var(--media-button-text-color-h),
            var(--media-button-text-color-s),
            var(--media-button-text-color-l));

    --selected-background-color: hsl(var(--selected-background-color-h),
            var(--selected-background-color-s),
            var(--selected-background-color-l));

    --selected-background-color-blurred: hsl(var(--selected-background-color-h),
            calc(var(--selected-background-color-s) - var(--selected-background-color-s) * 0.5),
            calc(var(--selected-background-color-l) - 5%));

    --selected-text-color: hsl(var(--selected-text-color-h),
            var(--selected-text-color-s),
            var(--selected-text-color-l));

    --gutter-width: calc(var(--spacing) * 1rem);
    --app-border-radius: calc(var(--roundness) * var(--roundness) * 0.75rem);
    --even-row-background-color: rgba(255, 255, 255, 0.02);
    --hover-row-background-color: rgba(255, 255, 255, 0.08);
    --button-elevation: 0;
    --media-button-elevation: var(--button-elevation);

    color: var(--frame-text-color);
}

.themed.light {
    --background-mark-color: rgba(0, 0, 0, 0.1);
    --thumbnail-border-color: var(--black);
    --even-row-background-color: rgba(0, 0, 0, 0.04);
    --hover-row-background-color: rgba(0, 0, 0, 0.08);

    --text-color-max: hsl(var(--text-color-h),
            var(--text-color-s),
            min(var(--text-color-l), 20%));

    --grey1-color: hsl(var(--text-color-h),
            calc(var(--text-color-s) * 0.5),
            calc(var(--text-color-l) + (100% - var(--text-color-l)) * 0.45));

    --grey2-color: hsl(var(--text-color-h),
            calc(var(--text-color-s) * 0.5),
            calc(var(--text-color-l) + (100% - var(--text-color-l)) * 0.25));

    --link-active-color: red;
}

.app {
    accent-color: var(--frame-text-color);
}

.app.dark {
    --currently-playing-color: var(--currently-playing-color-light);
    color-scheme: dark;
}

.app.light {
    --currently-playing-color: var(--currently-playing-color-dark);
    color-scheme: light;
}

.system {
    --button-elevation: 0;
    --selected-text-color: white;
    --selected-background-color: #0461d0;
    --selected-background-color-blurred: #545454;
}

.system.dark {
    --background-color-h: 0;
    --background-color-s: 0%;
    --background-color-l: 12%;

    --text-color: var(--soft-white);
    --grey1-color: dimgray;
    --grey2-color: gray;

    --frame-color-h: 0;
    --frame-color-s: 0%;
    --frame-color-l: 28%;
    --frame-color-l2: 0.28;

    --button-color-h: 0;
    --button-color-s: 0%;
    --button-color-l: 28%;
    --button-color-l2: .28;

    --frame-text-color: var(--soft-white);
    --button-text-color: var(--soft-white);
    --scrollbar-text-color: var(--soft-white);

    accent-color: var(--soft-white);
    color-scheme: dark;
}

.system.light {
    --background-color-h: 0;
    --background-color-s: 0%;
    --background-color-l: 100%;

    --text-color: black;
    --grey1-color: gray;
    --grey2-color: dimgray;

    --frame-color-h: 0;
    --frame-color-s: 0%;
    --frame-color-l: 74%;
    --frame-color-l2: .74;

    --button-color-h: 0;
    --button-color-s: 5%;
    --button-color-l: 82%;
    --button-color-l2: .82;

    --frame-text-color: black;
    --button-text-color: black;
    --scrollbar-text-color: black;

    accent-color: black;
    color-scheme: light;
}

.themed.flat {
    --amb-light-x: 0;
    --amb-light-y: 0;
    --frame-color-hi: var(--frame-color);
    --frame-color-lo: var(--frame-color);
}
