:root {
    --black: black;
    --soft-white: #ebebeb;

    --font-size: 17.2;
    --font-family: Arial, sans-serif;

    --background-color-h: 0;
    --background-color-s: 0%;
    --background-color-l: 0%;

    --background-mark-color: rgba(255, 255, 255, 0.1);
    --thumbnail-border-color: rgba(255, 255, 255, 0.2);

    --text-color-h: 0;
    --text-color-s: 0%;
    --text-color-l: 92.2%;

    --error-color: red;

    --frame-color-h: 192;
    --frame-color-s: 4.7%;
    --frame-color-l: 21%;

    --frame-text-color-h: 0;
    --frame-text-color-s: 0%;
    --frame-text-color-l: 92.2%;

    --focus-ring-color: #3390ff;

    --link-color: var(--soft-white);
    --link-visited-color: var(--soft-white);
    --link-active-color: #ff9e9e;
    --currently-playing-color-light: yellow;
    --currently-playing-color-dark: blue;

    --spacing: 0.375;
    --roundness: 0.25;
}

.themed {
    --background-color: hsl(var(--background-color-h),
            var(--background-color-s),
            var(--background-color-l));

    --text-color: hsl(var(--text-color-h),
            var(--text-color-s),
            var(--text-color-l));

    --grey1-color: hsl(var(--text-color-h),
            calc(var(--text-color-s) * 0.5),
            calc(var(--text-color-l) * 0.5));

    --grey2-color: hsl(var(--text-color-h),
            calc(var(--text-color-s) * 0.5),
            calc(var(--text-color-l) * 0.75));

    --frame-color: hsl(var(--frame-color-h),
            var(--frame-color-s),
            var(--frame-color-l));

    --frame2-color: hsl(var(--frame2-color-h),
            var(--frame2-color-s),
            var(--frame2-color-l));

    --frame-color-hi: hsl(var(--frame-color-h),
            var(--frame-color-s),
            calc(var(--frame-color-l) + (100% - var(--frame-color-l)) * 0.15));

    --frame-color-lo: hsl(var(--frame-color-h),
            var(--frame-color-s),
            calc(var(--frame-color-l) - var(--frame-color-l) * 0.5));

    --frame-text-color: hsl(var(--frame-text-color-h),
            var(--frame-text-color-s),
            var(--frame-text-color-l));

    --button-color: hsl(var(--button-color-h),
            var(--button-color-s),
            var(--button-color-l));

    --button-text-color: hsl(var(--button-text-color-h),
            var(--button-text-color-s),
            var(--button-text-color-l));

    --button-background:
        linear-gradient(to bottom,
            var(--button-color-hi),
            transparent 0.125rem),
        linear-gradient(to right,
            var(--button-color-hi),
            transparent 0.125rem),
        linear-gradient(to left,
            var(--button-color-lo),
            transparent 0.125rem),
        linear-gradient(to top,
            var(--button-color-lo),
            transparent 0.125rem);

    --scrollbar-color: hsl(var(--scrollbar-color-h),
            var(--scrollbar-color-s),
            var(--scrollbar-color-l));

    --scrollbar-background-color: hsl(
        var(--scrollbar-color-h),
        var(--scrollbar-color-s),
        calc(var(--scrollbar-color-l) - var(--scrollbar-color-l) * 0.5)
    );

    --scrollbar-text-color: hsl(var(--scrollbar-text-color-h),
            var(--scrollbar-text-color-s),
            var(--scrollbar-text-color-l));

    --media-button-color: hsl(var(--media-button-color-h),
            var(--media-button-color-s),
            var(--media-button-color-l));

    --media-button-text-color: hsl(var(--media-button-text-color-h),
            var(--media-button-text-color-s),
            var(--media-button-text-color-l));

    --media-button-background: linear-gradient(hsl(var(--media-button-color-h),
                var(--media-button-color-s),
                calc(var(--media-button-color-l) + (100% - var(--media-button-color-l)) * 0.4)),
            hsl(var(--media-button-color-h),
                calc(var(--media-button-color-s) - var(--media-button-color-s) * 0.6),
                calc(var(--media-button-color-l) - var(--media-button-color-l) * 0.3)));

    --media-button-background-flat: hsl(var(--media-button-color-h),
            calc(var(--media-button-color-s) + (100% - var(--media-button-color-s)) * 0.33),
            calc(var(--media-button-color-l) + (100% - var(--media-button-color-l)) * 0.33));

    --selected-background-color: hsl(var(--selected-background-color-h),
            var(--selected-background-color-s),
            var(--selected-background-color-l));

    --selected-background-color-blurred: hsl(var(--selected-background-color-h),
            calc(var(--selected-background-color-s) - var(--selected-background-color-s) * 0.5),
            calc(var(--selected-background-color-l) - 5%));

    --selected-text-color: hsl(var(--selected-text-color-h),
            var(--selected-text-color-s),
            var(--selected-text-color-l));

    --gutter-width: calc(var(--spacing) * 1rem);
    --app-border-radius: calc(var(--roundness) * var(--roundness) * 0.75rem);

}

.themed.light {
    --background-mark-color: rgba(0, 0, 0, 0.1);
    --thumbnail-border-color: var(--black);

    --grey1-color: hsl(var(--text-color-h),
            calc(var(--text-color-s) * 0.5),
            calc(var(--text-color-l) + (100% - var(--text-color-l)) * 0.45));

    --grey2-color: hsl(var(--text-color-h),
            calc(var(--text-color-s) * 0.5),
            calc(var(--text-color-l) + (100% - var(--text-color-l)) * 0.25));

    --link-color: #222222;
    --link-visited-color: #222222;
    --link-active-color: #ff0000;
}

.app,
.system {
    --frame2-color-h: var(--frame-color-h);
    --frame2-color-s: calc(var(--frame-color-s) + 5%);
    --frame2-color-l: calc(var(--frame-color-l) + 5%);
}

.app.frame-dark,
.system.dark {
    --frame2-color-hi: rgba(255, 255, 255, 0.2);
    --frame2-color-lo: rgba(0, 0, 0, 0.4);
    --button-color-hi: var(--frame2-color-hi);
    --button-color-lo: var(--frame2-color-lo);
}

.app.frame-light,
.system.light {
    --frame2-color-hi: rgba(255, 255, 255, 0.5);
    --frame2-color-lo: rgba(0, 0, 0, 0.25);
    --button-color-hi: var(--frame2-color-hi);
    --button-color-lo: var(--frame2-color-lo);
}

.app.button-dark {
    --button-color-hi: rgba(255, 255, 255, 0.2);
    --button-color-lo: rgba(0, 0, 0, 0.4);
}

.app.button-light {
    --button-color-hi: rgba(255, 255, 255, 0.5);
    --button-color-lo: rgba(0, 0, 0, 0.25);
}

.app.scrollbar-dark {
    --scrollbar-color-hi: rgba(255, 255, 255, 0.2);
    --scrollbar-color-lo: rgba(0, 0, 0, 0.4);
}

.app.scrollbar-light {
    --scrollbar-color-hi: rgba(255, 255, 255, 0.5);
    --scrollbar-color-lo: rgba(0, 0, 0, 0.25);
}

.app {
    accent-color: var(--frame-text-color);
}

.app.dark {
    --currently-playing-color: var(--currently-playing-color-light);
    --even-row-background-color: rgba(255, 255, 255, 0.02);
    color-scheme: dark;
}

.app.light {
    --currently-playing-color: var(--currently-playing-color-dark);
    --even-row-background-color: rgba(0, 0, 0, 0.04);
    color-scheme: light;
}

.system.dark {
    --background-color-h: 0;
    --background-color-s: 0%;
    --background-color-l: 8%;

    --text-color: var(--soft-white);
    --grey1-color: dimgray;

    --frame-color-h: 0;
    --frame-color-s: 0%;
    --frame-color-l: 24%;

    --button-color-h: 0;
    --button-color-s: 2.5%;
    --button-color-l: 26.5%;

    --frame-text-color: var(--soft-white);
    --button-text-color: var(--soft-white);

    accent-color: var(--soft-white);
    color-scheme: dark;
}

.system.light {
    --background-color-h: 0;
    --background-color-s: 0%;
    --background-color-l: 100%;

    --text-color: black;
    --grey1-color: gray;

    --frame-color-h: 0;
    --frame-color-s: 0%;
    --frame-color-l: 74%;

    --button-color-h: 0;
    --button-color-s: 5%;
    --button-color-l: 79%;

    --frame-text-color: black;
    --button-text-color: black;

    accent-color: black;
    color-scheme: light;
}

.system {
    --scrollbar-color-h: var(--button-color-h);
    --scrollbar-color-s: var(--button-color-s);
    --scrollbar-color-l: var(--button-color-l);
    --scrollbar-text-color: var(--button-text-color);
    --scrollbar-color-hi: var(--button-color-hi);
    --scrollbar-color-lo: var(--button-color-lo);
    --selected-text-color: white;
    --selected-background-color: #0461d0;
    --selected-background-color-blurred: #545454;
}

.themed.flat {
    --frame-color-hi: var(--frame-color);
    --frame-color-lo: var(--frame-color);
    --frame2-color-hi: var(--frame2-color);
    --frame2-color-lo: var(--frame2-color);
    --button-color-hi: var(--button-color);
    --button-color-lo: var(--button-color);
    --scrollbar-color-hi: var(--scrollbar-color);
    --scrollbar-color-lo: var(--scrollbar-color);
    --media-button-background: var(--media-button-background-flat);
}
