.app-title {
    .app-icon {
        margin-right: 0.25em;
    }

    .app-version {
        margin-left: 0.25em;
        padding: 0.125em 0.25em;
        font-size: 0.5625em;
        vertical-align: super;
    }
}