.app-title {
    font-family: Arial, sans-serif; /* independent of theme */

    .app-icon {
        margin-right: 0.25em;
    }

    .app-version {
        margin-left: 0.25em;
        padding: 0.125em 0.3125em;
        font-size: max(0.5625em, 8px);
        vertical-align: super;
    }
}
