.star-rating {
    font-family: Arial, sans-serif;
    font-weight: 400;
    opacity: 0.75;

    &:hover {
        opacity: 1;
    }

    &-button {
        all: unset;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }

        &::before {
            content: "☆";
        }
    }

    &-button~&-button {
        margin-left: 0
    }

    &-button.checked::before,
    &:hover &-button:not(.clicked)::before,
    &-button:not(.clicked):hover::before {
        content: "★";
    }

    & &-button:hover~&-button::before {
        content: "☆";
    }
}
