@use 'styles/effects.scss';

.star-rating {
    font-family: var(--system-font-family);
    font-weight: normal;
    opacity: 0.75;
    user-select: none;

    &:hover {
        opacity: 1;
    }

    &-buttons {
        display: inline-block;
        text-align: left;
        padding: 0 1px;
        white-space: nowrap;
    }

    &-button {
        all: unset;
        cursor: pointer;
        border-radius: calc(var(--roundness) * 0.5em);

        &:hover {
            opacity: 1;
        }        

        &:active,
        &.active {
            filter: none;
            transform: none;
        }
    }

    .half-star {
        display: inline-block;
        position: relative;

        &-fg {
            position: absolute;
            left: 0;
            width: 50%;
            display: inline-block;
            overflow: hidden;
        }
    }

    .focus-visible &:focus .selected {
        @include effects.outline;
    }
}
