@use 'styles/effects.scss';

.star-rating {
    font-family: var(--system-font-family);
    font-weight: normal;
    user-select: none;
    border-radius: calc(var(--roundness) * 0.5em);

    .focus-visible &:focus {
        @include effects.outline;
    }

    &-buttons {
        display: inline-block;
        text-align: left;
        padding: 0 1px;
        white-space: nowrap;
        opacity: 0.75;
    }

    &:hover &-buttons {
        opacity: 1;
    }

    &-button {
        all: unset;
        cursor: pointer;
    }

    .half-star {
        display: inline-block;
        position: relative;

        &-fg {
            position: absolute;
            left: 0;
            width: 50%;
            display: inline-block;
            overflow: hidden;
        }
    }
}