.tab-list {
    position: relative;
    isolation: isolate;
    display: flex;
    flex: auto;
    flex-direction: column;

    &-tabs {
        display: flex;
        flex-direction: row;
        user-select: none;
        z-index: 1;

        > li + li {
            margin-left: 2px;
        }
    }

    &-panels {
        position: relative;
        flex: auto;
        border: 1px solid #444;
        border-top-right-radius: calc(var(--roundness) * 1em);
        margin-top: -1px;
    }

    .tab {
        position: relative;
        background-image: none;
        border-color: #444; /* TODO: Where did this color come from? */
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        padding-top: 0;
        padding-bottom: 0;
        height: 1.75em;

        &[aria-selected="true"] {
            border-bottom: 1px solid var(--background-color);
            background-color: var(--background-color);
        }

        &:active {
            transform: none;
            filter: none;
        }
    }

    .tab-panel {
        padding: 1em;
    }
}
