.appearance-settings-general {
    .table-layout label {
        display: inline;
    }

    .font-size label {
        display: table-cell;
    }

    label:has(+ select:disabled) {
        color: inherit;
    }

    label:has(+ select:empty) {
        color: var(--grey1-color);
    }
}
