@use 'styles/effects.scss';

.tree-view {
    @include effects.inset;
    position: relative;
    isolation: isolate;
    display: flex;
    flex: auto;
    border-radius: var(--app-border-radius);
    user-select: none;
    cursor: default;

    &.minimal-width {
        .text {
            visibility: hidden;
        }

        .scrollbar {
            display: none;
        }
    }

    .tooltip {
        position: absolute;
        padding: 1px 2em 1px 4px;
        margin: -2px 0 0 -5px;
        border: 1px solid;
        inset: unset;
        white-space: nowrap;
        line-height: 1.5;
        color: inherit;
        background-color: var(--background-color);

        &:popover-open {
            display: inline-block;
        }

        .text {
            visibility: visible;
        }
    }

    .selected-text .tooltip {
        background-color: var(--selected-background-color-blurred);
    }

    &:focus .selected-text .tooltip,
    &.focus .selected-text .tooltip {
        background-color: var(--selected-background-color);
    }

    &-node,
    &-node-children {
        display: block;
        list-style: none;
    }

    &-node {
        &-marker {
            min-width: 1em;
            width: 1em;
            height: 1em;
            margin-right: 0.125em;
            fill: currentColor;

            &:not(.empty-marker) {
                cursor: pointer;
            }
        }

        &-label {
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &.empty &-label {
            margin-left: 1.125em;
        }

        &.empty &-marker + &-label {
            margin-left: 0;
        }
    }

    &-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 0.125em;
    }

    &:not(.minimal-width) &-row:hover:not(.selected-text) {
        background-color: var(--hover-row-background-color);
    }

    &-cursor {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 1.5em;
        border: 1px dotted var(--selected-text-color);
        pointer-events: none;
    }

    [role="tree"]:empty + &-cursor,
    &:not(:focus) &-cursor {
        visibility: hidden;
    }
}
