@import 'styles/mixins.scss';

.tree-view {
    @include inset;
    position: relative;
    isolation: isolate;
    display: flex;
    flex: auto;
    border-radius: var(--app-border-radius);
    user-select: none;
    cursor: default;

    &-node,
    &-node-children {
        display: block;
        list-style: none;
    }

    &-node {
        &-marker {
            min-width: 1em;
            width: 1em;
            height: 1em;
            margin-right: 0.125em;
            fill: currentColor;

            &:not(.empty-marker) {
                cursor: pointer;
            }
        }

        &-label {
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &.empty &-label {
            margin-left: 1.125em;
        }

        &.empty &-marker + &-label {
            margin-left: 0;
        }
    }

    &-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 0.125em;
    }

    &-cursor {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 1.5em;
        border: 1px dotted var(--selected-text-color);
        pointer-events: none;
    }

    [role="tree"]:empty + &-cursor,
    &:not(:focus) &-cursor {
        visibility: hidden;
    }
}
