.icon {
    width: 1em;
    height: 1em;
    color: inherit;
    fill: currentColor;
    stroke: currentColor;
    pointer-events: none;
    vertical-align: middle;

    &-star-inner {
        fill: none;
    }

    &-volume {
        .medium {
            .volume-low & {
                display: none;
            }
        }

        .high {
            .volume-low &,
            .volume-medium & {
                display: none;
            }
        }
    }

    &-palette {
        fill: orange;

        .themed.light & {
            fill: green;
        }
    }

    &-http,
    &-https,
    &-globe {
        fill: skyblue;

        .themed.light & {
            fill: dodgerblue;
        }
    }

    &-visualizer {
        fill: yellow;

        .themed.light & {
            fill: blue;
        }
    }

    &-error {
        fill: var(--error-color);
    }

    &-palette,
    &-globe,
    &-visualizer {
        .tree-view-row.selected-text & {
            fill: white;
        }
    }

    &-apple-logo {
        stroke: none;
        fill: white;

        .themed.light & {
            fill: black;
        }
    }

    &-airsonic {
        .airsonic-connected &,
        &:not(.show-connectivity) {
            fill: #2f7bd9;
        }
    }

    &-apple {
        &-inner {
            fill: none;
        }

        .apple-connected &,
        &:not(.show-connectivity) {
            .icon-apple {
                &-inner {
                    fill: white;
                }

                &-outer {
                    fill: url("#apple-linear-gradient");
                }
            }
        }
    }

    &-emby {
        &-inner {
            fill: var(--background-color);
        }

        .emby-connected &,
        &:not(.show-connectivity) {
            .icon-emby {
                &-inner {
                    fill: white;
                }

                &-outer {
                    fill: #52b54b;
                }
            }
        }
    }

    &-jellyfin {
        .jellyfin-connected &,
        &:not(.show-connectivity) {
            fill: url("#jellyfin-linear-gradient");
        }
    }

    &-lastfm {
        border-radius: 0.125em;

        &-inner {
            fill: none;
        }

        .lastfm-connected &,
        &:not(.show-connectivity) {
            .icon-lastfm {
                &-inner {
                    fill: white;
                }

                &-outer {
                    fill: #b90000;
                }
            }
        }
    }

    &-listenbrainz {
        &-left {
            fill: currentColor;
        }

        &-right {
            fill: currentColor;
            opacity: 0.5;
        }

        .listenbrainz-connected &,
        &:not(.show-connectivity) {
            .icon-listenbrainz {
                &-left {
                    fill: #353070;
                }

                &-right {
                    fill: #eb743b;
                    opacity: 1;
                }
            }
        }
    }

    &-musicbrainz {
        &-left {
            fill: #ba478f;
        }

        &-right {
            fill: #eb743b;
        }
    }

    &-navidrome {
        .navidrome-connected &,
        &:not(.show-connectivity) {
            fill: #0084ff;
        }
    }

    &-plex {
        &-inner {
            fill: var(--background-color);
        }

        &-outer {
            stroke: none;
        }

        .plex-connected &,
        &:not(.show-connectivity) {
            .icon-plex {
                &-inner {
                    fill: #e49f0d;
                }

                &-outer {
                    fill: #282a2c;
                    stroke: currentColor;
                }
            }
        }
    }

    &-spotify {
        .spotify-connected &,
        &:not(.show-connectivity) {
            fill: #1ed760;
        }
    }

    &-subsonic {
        .subsonic-connected &,
        &:not(.show-connectivity) {
            fill: #ffd220;
            filter: drop-shadow(1px 1px 0 rgba(16, 16, 16, 0.6));

            .dark & {
                filter: drop-shadow(1px 1px 0 rgba(240, 240, 240, 0.4));
            }
        }
    }

    &-tidal,
    &-plex-tidal {
        fill: currentColor
    }

    &-tidal,
    &-plex-tidal {
        .light &.show-connectivity {
            fill: var(--background-color);
            background-color: currentColor;

            .icon-tidal-inner {
                transform: scale(0.67);
                transform-origin: center;
            }
        }
    }

    &-tidal.show-connectivity {
        .tidal-connected .light &,
        .tidal-connected .dark & {
            fill: #0ff;
        }

        .tidal-connected .light & {
            background-color: #07332f;
        }
    }

    &-plex-tidal.show-connectivity {
        .plex-tidal-connected .light &,
        .plex-tidal-connected .dark & {
            fill: #0ff;
        }

        .plex-tidal-connected .light & {
            background-color: #07332f;
        }
    }

    &-youtube {
        &-inner {
            fill: none;
        }

        .youtube-connected &,
        &:not(.show-connectivity) {
            .icon-youtube {
                &-inner {
                    fill: white;
                }

                &-outer {
                    fill: red;
                }
            }
        }
    }

    &-lookup {
        color: var(--grey2-color);
        pointer-events: auto;

        &-not-found {
            color: rgba(255, 0, 0, 0.5);
        }

        &-outer {
            fill: rgba(238, 238, 238, 0.2);

            .themed.light & {
                fill: rgba(16, 16, 16, 0.4);
            }
        }
    }
}
