.icon {
    width: 1em;
    height: 1em;
    color: inherit;
    fill: currentColor;
    stroke: currentColor;
    pointer-events: none;
    vertical-align: middle;

    &-star-inner {
        fill: none;
    }

    &-volume {
        .medium {
            .volume-low & {
                display: none;
            }
        }

        .high {
            .volume-low &,
            .volume-medium & {
                display: none;
            }
        }
    }

    &-palette {
        fill: orange;

        .themed.light & {
            fill: green;
        }
    }

    &-globe {
        fill: skyblue;

        .themed.light & {
            fill: blue;
        }
    }

    &-visualizer {
        fill: yellow;

        .themed.light & {
            fill: blue;
        }
    }

    &-palette,
    &-globe,
    &-visualizer {
        .tree-view-row.selected-text & {
            fill: white;
        }
    }

    &-apple {
        fill: rgba(255, 255, 255, 0.1);

        .themed.light & {
            fill: rgba(0, 0, 0, 0.1);
        }

        .apple-connected &,
        &:not(.show-connectivity),
        .themed.selection-dark .selected-text &:not(.show-connectivity) {
            stroke: none;
            fill: white;
        }

        .apple-connected .app.light &,
        .apple-connected .selection-light .selected-text &,
        .themed.light &:not(.show-connectivity),
        .themed.selection-light .selected-text &:not(.show-connectivity) {
            fill: black;
        }
    }

    &-jellyfin {
        .jellyfin-connected &,
        &:not(.show-connectivity) {
            fill: url("#jellyfin-linear-gradient");
        }
    }

    &-lastfm {
        border-radius: 0.125em;

        &-inner {
            fill: none;
        }

        .lastfm-connected &,
        &:not(.show-connectivity) {
            .icon-lastfm {
                &-inner {
                    fill: white;
                }

                &-outer {
                    fill: #b90000;
                }
            }
        }
    }

    &-listenbrainz {
        &-left {
            fill: currentColor;
        }

        &-right {
            fill: currentColor;
            opacity: 0.5;
        }

        .listenbrainz-connected &,
        &:not(.show-connectivity) {
            .icon-listenbrainz {
                &-left {
                    fill: #353070;
                }

                &-right {
                    fill: #eb743b;
                    opacity: 1;
                }
            }
        }
    }

    &-musicbrainz {
        &-left {
            fill: #ba478f;
        }

        &-right {
            fill: #eb743b;
        }
    }

    &-plex {
        &-inner {
            fill: var(--background-color);
        }

        &-outer {
            stroke: none;
        }

        .plex-connected &,
        &:not(.show-connectivity) {
            .icon-plex {
                &-inner {
                    fill: #e49f0d;
                }

                &-outer {
                    fill: #282a2c;
                    stroke: currentColor;
                }
            }
        }
    }

    &-spotify {
        .spotify-connected &,
        &:not(.show-connectivity) {
            fill: #1ed760;
        }
    }

    &-youtube {
        &-inner {
            fill: none;
        }

        .youtube-connected &,
        &:not(.show-connectivity) {
            .icon-youtube {
                &-inner {
                    fill: white;
                }

                &-outer {
                    fill: red;
                }
            }
        }
    }

    &-lookup {
        color: var(--grey2-color);

        &-not-found {
            color: rgba(255, 0, 0, 0.5);
        }

        &-outer {
            fill: rgba(238, 238, 238, 0.2);

            .themed.light & {
                fill: rgba(16, 16, 16, 0.4);
            }
        }
    }
}
