.media-object-browser {
    background-color: var(--frame-color);

    .media-object-header {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        height: 5em;

        .list-view-row:hover {
            background-color: var(--background-color);
        }

        .icon-button {
            visibility: inherit !important;
        }

        .error-report,
        .scrollbar {
            display: none;
        }
    }

    .media-object-tabs {
        position: absolute;
        left: 0;
        top: 5.5em;
        right: 0;
        bottom: 0;

        .error-box {
            height: calc(100% - var(--gutter-width));
            border-top-left-radius: 0;

             h2 {
                display: none;
            }
        }
    }

    .tab-list-tabs {
        flex-wrap: wrap;
    }

    .tab-list-panels {
        background-color: var(--frame-color);
        border: 0;
        border-radius: 0;
    }
    
    .tab[aria-selected="true"] {
        border-color: var(--frame-color-lo);
        border-bottom-color: var(--background-color);
    }

    .tab-panel {
        padding: 0;
        height: 100%;

        .secondary-items .list-view {
            border-top-left-radius: 0;
        }
    }

    .tab-panel-info {
        & > .scrollable {
            background-color: var(--background-color);
            bottom: var(--gutter-width);
        }
    }

    .mixed-media-items .cover-art-icon-overlay {
        display: block;
    }

    .media-info {
        padding: 1em;
        color: var(--text-color);
        min-width: 24em;
        max-width: 75ch;

        .description {
            max-height: none;
            font-size: 1em;

            .scrollbar {
                display: none;
            }
        }
    }

    .media-details {
        height: calc(100% - var(--gutter-width));

        .list-view {
            border-top-left-radius: 0;
        }
    }

    .status-bar {
        background-color: var(--frame-color);
    }
}
