.startup-wizard {
    width: 24em;
    height: 34em;

    h3 {
        font-size: 1.375em;
        margin-bottom: 0.75em;
    }

    form {
        width: 100%;
    }

    .personal-media-services .media-service-list {
        font-size: 1.125em;
    }
}
