.startup-wizard {
    width: 30em;
    height: 32em;

    h3 {
        font-size: 1.5em;
        margin-bottom: 0.75em;
    }

    form {
        width: 100%;
    }

    .media-service-list {
        height: 10em;
    }
}
