@import 'styles/mixins.scss';

.popup-menu {
    @include button;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 0;
    overflow: hidden;
    border-radius: var(--app-border-radius);
    box-shadow: rgb(0 0 0 / 33%) 2px 5px 10px;

    button {
        border: 0;
        border-radius: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-left: 1.25em;
        background-image: none;

        &:not(:disabled) {
            &:hover {
                background-color: var(--button-text-color);
                color: var(--button-color);
                filter: none;
            }

            &:active {
                transform: none;
                filter: none;
            }
        }
    }

    &-separator {
        height: 1px;
        background-color: var(--button-text-color);
        opacity: 0.75;

        &:first-child,
        &:last-child,
        & + & {
            display: none;
        }
    }

    &-item {
        &.checked button::before {
            content: '✓';
            position: absolute;
            left: 0.33em;
        }

        &-label {
            flex: auto;
            text-align: left;
        }

        &-accelerator-key {
            flex: initial;
            margin-left: 3em;
            text-align: right;
            font-size: 0.75em;
        }
    }
}
