.popup-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 0;
    overflow: hidden;
    background-color: var(--button-color);
    border: 1px solid var(--black);
    border-radius: var(--app-border-radius);
    box-shadow: rgb(0 0 0 / 33%) 2px 5px 10px;

    button {
        border: 0;
        border-radius: 0;
        width: 100%;
        min-width: 8em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-left: 1.25em;
        background-image: none;

        &:focus {
            background-color: var(--button-text-color);
            color: var(--button-color);

            .focus-visible & {
                outline: none;
            }
        }

        &:hover,
        &:active {
            transform: none;
            filter: none;
        }
    }

    &-separator {
        height: 1px;
        background-color: var(--button-text-color);
        opacity: 0.75;

        &:first-child,
        &:last-child,
        & + & {
            display: none;
        }
    }

    &-item {
        position: relative;

        button[aria-checked="true"]::before {
            content: '✓';
            position: absolute;
            left: 0.33em;
        }

        &.has-popup-right {
            & > button::before {
                content: '❮';
                position: absolute;
                left: 0.5em;
                font-size: 0.75em;
                transform: translateZ(0);
            }

            .popup-menu {
                border-top-right-radius: 0;
                z-index: -1;
            }
        }

        &.has-popup-left {
            & > button::after {
                content: '❯';
                font-size: 0.75em;
                margin-left: 1em;
                transform: translateZ(0);
            }

            .popup-menu {
                border-top-left-radius: 0;
                z-index: -1;
            }
        }

        &.showing-popup > button {            
            background-color: var(--button-text-color);
            color: var(--button-color);
        }

        &-label {
            flex: auto;
            text-align: left;
            max-width: 20em;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &-accelerator-key {
            flex: initial;
            margin-left: 3em;
            text-align: right;
            font-size: 0.75em;
        }
    }

    .media-source-label .icon {
        margin-right: 0.5em;
    }
}
