.edit-station-dialog {
    &-main {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 50em;
    }

    .table-layout p {
        line-height: 2.25;

        input[type=checkbox] {
            display: table-cell;
            width: 1em;
            margin-left: calc(100% - 1em);
            text-align: right;
        }
    }

    .thumbnail {
        position: absolute;
        left: 0;
        width: 10em;
        height: 10em;
        padding: 0;

        .cover-art {
            position: absolute;
            inset: 0;
        }
    }

    .external-link {
        text-decoration: underline;

        .icon {
            display: none;
        }
    }
}