.edit-station-dialog {
    .thumbnail {
        position: absolute;
        left: 1em;
        width: 10em;
        height: 10em;
        padding: 0;

        .cover-art {
            position: absolute;
            inset: 0;
        }
    }

    &-main {
        display: flex;
        flex-direction: column;
        position: relative;
        left: 6em;
        width: 40em;
    }

    textarea {
        resize: vertical;
        min-height: 2em;
        max-height: 8em;
    }

    .table-layout {
        width: calc(100% - 6em);

        p {
            line-height: 2.25;

            &:has(input[type=checkbox]) {
                text-align: right;

                label {
                    text-align: left;
                }
            }
        }
    }

    .external-link {
        text-decoration: underline;

        .icon {
            display: none;
        }
    }
}