.search-bar {
    font-size: 1.125em;
    margin-bottom: calc(var(--gutter-width) / 2);

    p {
        display: flex;
        flex: initial;
        flex-direction: row;
        align-items: center;

        & > .icon {
            flex: initial;
            position: absolute;
            left: calc(0.375em + var(--roundness) * 0.25em);
            width: auto;
            min-width: 1.125em;
            height: 1.125em;
            color: var(--text-color);
            aspect-ratio: 1;
        }
    }
    
    input {
        flex: auto;
        min-width: 4em;
        text-indent: calc(1.5em + var(--roundness) * 0.25em);
        padding: 0.25em;

        &::-webkit-search-cancel-button {
            display: none;
        }
    }

    button {
        display: flex;
        flex-direction: row;
        flex: initial;
        align-items: center;
        justify-content: center;
        padding: 0.5em;
        aspect-ratio: 1;

        &[type="button"] {
            display: none;
            position: absolute;
            right: 2.5em;
            background: none;
            border: 0;
            box-shadow: none;
            color: var(--grey2-color);

            &:hover,
            &:active {
                color: var(--text-color);
            } 
        }

        &[type="submit"] {
            margin-left: var(--gutter-width);
        }
    }

    input:not(:placeholder-shown) {
        padding-right: 2em;

        & + button[type="button"] {
            display: flex;
        }
    }
}
