.search-bar {
    margin-bottom: calc(var(--gutter-width) / 2);

    button {
        padding: 0.25em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}
