.playlist {
    display: flex;
    flex-direction: column;
    flex: auto;

    .list-view {
        &-body {
            width: 100%;
        }

        &-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
        }

        &-cell {
            position: static;
            display: flex;
            flex: initial;
            padding: 0 0.25rem;
            overflow: initial;
            text-overflow: initial;

            &.title {
                flex: auto;
                min-width: 0;

                .row-title {
                    display: flex;
                    align-items: center;
                    overflow: hidden;
    
                    &-text {
                        display: flex;
                        overflow: hidden;
    
                        > .artist-text,
                        > .title-text {
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
    
                        > [role="separator"] {
                            flex: initial;
                            margin: 0 0.25rem;
                        }
                    }
            
                    .badge {
                        margin-left: 0.5em;
                    }
                }
            }

            &.index {
                position: relative;
                justify-content: center;
                flex-direction: column;
                align-items: center;

                .icon {
                    position: absolute;
                    width: 67%;
                    max-width: 0.75em;
                }

                .number {
                    font-family: monospace;
                    letter-spacing: -0.0675em;
                }
            }

            &.duration .text {
                font-family: monospace;
                letter-spacing: -0.0675em;
            }
        }
    }

    .playing {
        .index .number {
            visibility: hidden;
            padding-right: 0;
        }

        .text {
            padding-right: 0;
        }
    
        .artist-text,
        .title-text {
            /* Prevents italic text from being clipped on the right. */
            padding-right: 0.1em;
        }
    }

    .status-bar {
        margin-bottom: 0;
    }

    .progress-ring {
        display: none;
    }

    .media-buttons {
        display: inline-flex;
        gap: 0.125em;
        margin-right: -0.125em;
    }

    .media-button {
        font-size: 0.375rem;
        width: 1rem;
        height: 1rem;
        padding: 0.5rem;

        &:first-child .icon {
            transform: rotate(180deg);
        }

        &:last-child {
            margin-left: 0.25em;
            margin-right: 0;
        }
    }
}
