.playlist {
    display: flex;
    flex-direction: column;
    flex: auto;

    .list-view {
        &-body {
            width: 100%;
        }

        &-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;

            .airsonic-not-connected &.source-airsonic,
            .ampache-not-connected &.source-ampache,
            .apple-not-connected &.source-apple,
            .emby-not-connected &.source-emby,
            .gonic-not-connected &.source-gonic,
            .jellyfin-not-connected &.source-jellyfin,
            .navidrome-not-connected &.source-navidrome,
            .subsonic-not-connected &.source-subsonic,
            .plex-not-connected &.source-plex,
            .plex-tidal-not-connected &.source-plex-tidal,
            .spotify-not-connected &.source-spotify,
            .tidal-not-connected &.source-tidal {
                &.selected .icon.show-connectivity {
                    filter: grayscale(1);
                    opacity: 0.5;
                }
                
                &:not(.selected) {
                    color: var(--grey1-color);
                }
            }

            .airsonic-connected &.source-airsonic,
            .ampache-connected &.source-ampache,
            .apple-connected &.source-apple,
            .emby-connected &.source-emby,
            .gonic-connected &.source-gonic,
            .jellyfin-connected &.source-jellyfin,
            .navidrome-connected &.source-navidrome,
            .subsonic-connected &.source-subsonic,
            .plex-connected &.source-plex,
            .plex-tidal-connected &.source-plex-tidal,
            .spotify-connected &.source-spotify,
            .tidal-connected &.source-tidal {
                &.unplayable .icon.show-connectivity {
                    opacity: 0.5;
                }
            }
        }

        &-cell {
            position: static;
            display: flex;
            flex: initial;
            padding: 0 0.25rem;
            overflow: initial;
            text-overflow: initial;

            &.title {
                flex: auto;
                min-width: 0;

                > .artist-text,
                > .title-text {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    /* Prevents italic text from being clipped on the right. */
                    padding-right: 0.1em;
                }

                > [role="separator"] {
                    flex: initial;
                    /* Different left/right because of the padding above. */
                    margin: 0 0.25rem 0 0.15rem;
                }
            }

            &.index {
                position: relative;
                justify-content: center;
                flex-direction: column;
                align-items: center;

                .icon {
                    position: absolute;
                    width: 67%;
                    max-width: 0.75em;
                }

                .number {
                    font-family: monospace;
                }
            }
        }
    }

    .playing .index .number {
        visibility: hidden;
    }

    .status-bar {
        margin-bottom: 0;
    }

    .progress-ring {
        display: none;
    }
}
