.media-playback {
    .panel.playback {
        bottom: 0;

        @media (display-mode: window-controls-overlay) {
            top: max(1.5rem, 32px);
        }

        .electron & {
            top: env(titlebar-area-height, 1.5rem);
        }
    }
}
