.list-box {
    width: 100%;
    height: 10em;
    margin: 0.5em 0;

    .scrollable {
        --scrollbar-size: calc(1.25em * var(--scrollbar-thickness));
    }

    .list-view-cell {
        padding: 0 0.25em;
    }
}
