.list-box {
    width: 100%;
    height: calc(11em - 2px);
    margin: 0.5em 0;

    .scrollable {
        --scrollbar-size: max(10px, calc(1.25em * var(--scrollbar-thickness)));
    }

    .list-view-cell {
        padding: 0 0.25em;
    }
}
