@use 'styles/effects.scss';

.list-view {
    @include effects.inset;
    position: relative;
    isolation: isolate;
    display: flex;
    flex: auto;
    border-radius: var(--app-border-radius);
    user-select: none;
    cursor: default;
    overflow: hidden;

    .scrollable {
        background-color: inherit;
    }

    &-head {
        border-radius: var(--app-border-radius);
        height: 1.5em;
    }

    &-body,
    &-row {
        display: block;
    }

    &-head &-row {
        position: relative;
        height: inherit;
    }

    &-body &-row {
        position: absolute;
        width: 100%;

        &:nth-child(even) {
            background-color: var(--even-row-background-color);
        }

        &:hover:not(.selected) {
            background-color: var(--hover-row-background-color);
        }

        &.selected {
            background-color: var(--selected-background-color-blurred);
        }
    }

    &.focus &-row.selected {
        background-color: var(--selected-background-color);
    }

    &-row.selected {
        color: var(--selected-text-color);
    }

    &-cell {
        position: absolute;
        padding: 0 0.5em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &-head &-cell {
        @include effects.button;
        padding: 0 calc(0.5em - 1px);
        border-radius: var(--app-border-radius);
        height: inherit;

        &.insert-before {
            transform: translateX(0.5em);
            transition: transform 200ms ease-in;
        }
    }

    &-cursor {
        position: absolute;
        width: 100%;
        height: 1.5em;
        border: 1px dotted var(--selected-text-color);
        pointer-events: none;
    }

    &.empty &-cursor,
    &:not(:focus) &-cursor {
        visibility: hidden;
    }

    &-row.drag-over::before,
    &-row.drag-over-last::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 1px;
        border: 1px dotted var(--text-color);
        pointer-events: none;
    }

    &-row.drag-over-last::after {
        top: 100%;
    }

    .column-resizer,
    .column-drop-marker {
        position: absolute;
        top: 0;
        bottom: 0;
    }

    .column-resizer {
        cursor: col-resize;
        width: 0.5em;
        margin-left: -0.25em;
    }

    .column-drop-marker {
        margin-left: 0.125em;
        width: 0.25em;
        background: var(--text-color);
        border-radius: calc(var(--roundness) * 0.25em);
    }

    &-card &-cursor {
        height: 6em;
    }

    &-card.compact &-cursor {
        height: 4.75em;
    }

    &-card.small &-cursor {
        height: 3.25em;
    }

    &-card.minimal &-cursor {
        height: 2em;
    }

    &-card &-body {
        width: 100%;
    }

    &-card &-row {
        width: 100%;
        line-height: 1.5;
    }

    &-drag-image {
        position: absolute;
        width: 100%;
        z-index: -1;

        .actions {
            display: none;
        }
    }

    .empty-message {
        margin: 1em;
    }
}
