@import 'styles/mixins.scss';

.list-view {
    @include inset;
    position: relative;
    isolation: isolate;
    display: flex;
    flex: auto;
    border-radius: var(--app-border-radius);
    user-select: none;
    cursor: default;

    &-head {
        border-radius: var(--app-border-radius);
    }

    &-body,
    &-row {
        display: block;
    }

    &-head &-row {
        position: relative;
    }

    &-body &-row {
        position: absolute;
        width: 100%;

        &:nth-child(even) {
            background-color: var(--even-row-background-color);
        }

        &.selected {
            background-color: var(--selected-background-color-blurred);
        }
    }

    &.focus &-row.selected {
        background-color: var(--selected-background-color);
    }

    &-row.selected &-cell {
        color: var(--selected-text-color);
    }

    &-cell {
        position: absolute;
        padding: 0 0.5em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &-head &-cell {
        @include button;
        padding: 0 calc(0.5em - 1px);
        border-radius: var(--app-border-radius);
        height: inherit;
    }

    &-cursor {
        position: absolute;
        width: 100%;
        height: 1.5em;
        border: 1px dotted var(--selected-text-color);
        pointer-events: none;
    }

    &-body:empty + &-cursor,
    &:not(:focus) &-cursor {
        visibility: hidden;
    }

    &-row.drag-over::before,
    &-row.drag-over-last::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 1px;
        border: 1px dotted var(--text-color);
        pointer-events: none;
    }

    &-row.drag-over-last::after {
        top: 100%;
    }

    .column-resizer {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 8px;
        cursor: col-resize;
    }

    &-card &-cursor {
        height: 6em;
    }

    &-card.compact &-cursor {
        height: 4.5em;
    }

    &-card.minimal &-cursor {
        height: 2em;
    }

    &-card &-body {
        width: 100%;
    }

    &-card &-row {
        width: 100%;
        line-height: 1.5;
    }

    &-drag-image {
        transform: translateY(-9999px);
    }
}
