.theme-settings {
    input[type=color] {
        width: 25%;
        height: 2em;

        .browser-firefox & {
            height: 1.5em;
        }
    }

    .font-size {
        margin-top: 1em;

        label {
            white-space: nowrap;
        }
    }
}
