.confirm-dialog {
    &-storage {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 2em;
        font-size: 0.625em;
        font-style: italic;
    }
}
