@use 'styles/effects.scss';

dialog {
    border: 0;
    padding: 0;
    color: inherit;
}

.dialog {
    flex-direction: column;
    padding: 0;
    overflow: hidden;
    color: var(--frame-text-color);
    background-clip: padding-box;
    background-color: var(--frame-color);
    background-image:
        linear-gradient(to bottom,
            var(--frame-color-hi),
            transparent 0.125rem),
        linear-gradient(to right,
            var(--frame-color-hi),
            transparent 0.125rem),
        linear-gradient(to left,
            var(--frame-color-lo),
            transparent 0.125rem),
        linear-gradient(to top,
            var(--frame-color-lo),
            transparent 0.125rem);
    border: 1px solid black;
    border-radius: var(--app-border-radius);
    box-shadow: rgba(0, 0, 0, 0.67) 4px 10px 20px;
    isolation: isolate;
    contain: content;

    &[open] {
        display: flex;
    }

    &::backdrop {
         background: rgba(0, 0, 0, 0.1);

         .app & {
            background: var(--black);
            opacity: 0.33;
         }
     }

    .system & {
        border-radius: 0.5em;
    }

    &-head {
        position: relative;
        height: 2em;
        display: flex;
        flex-direction: row;
        flex: initial;
        align-items: center;
        user-select: none;

        h2 {
            flex: auto;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 0 6em 0 0.5em;
            font-weight: bold;
            text-align: left;
        }
    }

    &-close {
        width: 1.25em;
        height: 1.25em;
        margin: 0 0.5em 0 auto;
        color: white;
        background-color: rgb(155, 26, 37);
        background-image:
            linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0) 0.125rem),
            linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0) 0.125rem),
            linear-gradient(to left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0) 0.125rem),
            linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0) 0.125rem);
        border-radius: 0.25em;
        padding: 0;

        .app.flat & {
            background-image: none;
        }

        .icon {
            width: 0.625em;
            vertical-align: baseline;
        }
    }

    &-body {
        @include effects.inset;
        position: relative;
        flex: initial;
        margin: 0 0.375em 0.375em 0.375em;
        padding: 1em;
        border-radius:
            calc(var(--app-border-radius) / 2)
            calc(var(--app-border-radius) / 2)
            var(--app-border-radius)
            var(--app-border-radius);

        .system & {
            border-radius: 0 0 0.5em 0.5em;
        }

        p {
            margin: 0.5em 0;
        }

        legend + p {
            margin-top: 0;
        }
    }

    &-body &-buttons {
        text-align: right;
        margin: 2em 0 0 0;
    }
}
