.interstitial {
    position: absolute;
    inset: 0;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--black);
    color: var(--soft-white);
    text-shadow: 0.125em 0.125em 0 rgba(16, 16, 16, 0.6);
    text-align: center;
    opacity: 0;
    transition: opacity 4s linear;

    .no-visualizer:not(.playing-video) &,
    .media-playback.paused &,
    &:not(.ready),
    &:not(.ready) &-state {
        opacity: 1;
    }

    &.is-recent,
    &.is-recent &-state,
    .media-playback.paused & {
        transition: none;
    }

    &.is-recent,
    &.is-recent &-state {
        opacity: 0.85;
    }

    .by {
        font-size: 0.5em;
    }

    h4 {
        font-size: 0.75em;
    }

    &-state {
        display: inline-block;
        position: absolute;
        bottom: 0.4em;
        margin: 0 auto;
        font-size: 0.75em;
        color: rgba(238, 238, 238, 0.625);
        opacity: 0;
        transition: opacity 1s linear;
    }
}
