.interstitial {
    --shadow-color: rgba(16, 16, 16, 0.8);
    --shadow-small: 1px 1px 0 var(--shadow-color);
    --shadow-large: 2px 2px 0 var(--shadow-color);
    position: absolute;
    inset: 0;
    color: var(--soft-white);
    text-align: center;
    text-rendering: optimizeLegibility;

    &::before,
    .currently-playing {
        position: absolute;
        inset: 0;
        opacity: 0;
        transition: opacity 0s linear;
    }

    &::before {
        content: "";
        background-color: var(--black);

        .mini-player-active & {
            background-color: var(--terminal--black);
        }

        .media:fullscreen & {
            background-color: black;
        }
    }

    .currently-playing {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2em;
        text-shadow: var(--shadow-small);
        background: radial-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));

        .mini-player-active & {
            background: none;
        }

        .media.fullscreen & {
            text-shadow: var(--shadow-large);
            padding-bottom: 4em;
        }
    
        h3 {
            font-size: max(0.75em, 12px);
        }

        .by {
            font-size: max(0.5em, 10px);
        }

        .media-source-label {
            font-size: max(0.5em, 11px);
            margin-top: 1.5em;
            line-height: normal;

            .text {
                color: #ababab;
            }
        }

        .icon-tidal,
        .icon-plex-tidal {
            filter: var(--shadow-small);         

            .media.fullscreen & {
                filter: var(--shadow-large);
            }
        }
    }

    &.show {
        &::before {
            opacity: 1;
            transition: none;
        }

        .currently-playing {
            opacity: 1;
            transition: opacity 600ms linear;
        }
    }

    &.hide {
        &::before {
            opacity: 0;
            transition: opacity 400ms ease-in 250ms;
        }

        .currently-playing {
            opacity: 0;
            transition: opacity 400ms linear 300ms;
        }
    }

    &.fade-out {
        &::before {
            opacity: 0;
            transition: opacity 8s linear;
        }

        .currently-playing {
            opacity: 0;
            transition: opacity 10s linear;
        }
    }

    /* TODO: This CSS is stupidly hard. */

    .media:not(.mini-player-active, .paused, .error).is-showing-cover-art & .playback-state {
        visibility: hidden;
    }

    .media:not(.paused, .is-showing-cover-art, .idle):hover &.hide .currently-playing {
        opacity: 1;
        transition: opacity 400ms linear;
    }

    /* (fullscreen & idle) this is a bit different to the other `opacity` changes. */

    .media:not(.paused, .is-new-item, .no-visualizer.is-playing-audio).fullscreen.idle & {
        opacity: 0; /* Hide but prevent interaction with anything behind. */
    }
}
