.media-info {
    position: relative;
    width: 100%;
    line-height: 1;

    &-main {
        padding-left: 7em;
        min-height: 6em;
        margin-bottom: 1em;
    }

    .thumbnail {
        position: absolute;
        left: 0;
        width: 6em;
        height: 6em;
        padding: 0;

        .cover-art {
            position: absolute;
            inset: 0;
        }
    }

    .title,
    .artist,
    .album {
        margin-top: 0.5em;
    }

    .title {
        margin-top: 0;
        font-size: 1.5em;
    }

    .duration,
    .track-count {
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        padding: 0.125em .375em;
        color: var(--text-color);
        background-color: rgba(0, 0, 0, 0.25);
        border-radius: 0.25em;

        &:empty {
            visibility: hidden;
        }
    }

    .blurb {
        margin-top: 3em;
        font-size: 0.75em;
        max-height: 10em;
    }
}
