.media {
    background: var(--black);
    border-radius: calc(var(--roundness) * 1rem);
    user-select: none;
    contain: strict;

    &:fullscreen {
        background: black;
        border-radius: 0;
        inset: 0;
        font-size: 2rem;

        &.idle {
            cursor: none;

            .visualizer-controls {
                display: none;
            }
        }
    }

    .html5-video {
        position: absolute;
        object-fit: cover;
    }

    .youtube-video {
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        &[hidden] {
            display: none;
        }

        &-wrapper {
            display: flex;
        }
    }

    .apple-video video {
        position: absolute;
        object-fit: cover;
        width: inherit;
        height: inherit;
    }

    .ambient-video-player .visualizer-waveform {
        background: none;
        inset: auto;
        bottom: 0.5em;
        margin: 0 calc(50% - 5em);
    }
}
