.media {
    background: var(--black);
    border-radius: calc(var(--roundness) * 1rem);
    user-select: none;
    contain: strict;
    overflow: hidden;

    &:fullscreen {
        background: black;
        border-radius: 0;
        inset: 0;
        font-size: 3vw;
        border-radius: 0;

        &.idle {
            cursor: none;
        }
    }

    .html5-video {
        position: absolute;
        object-fit: cover;
    }

    .youtube-video {
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        &[hidden] {
            display: none;
        }

        &-wrapper {
            display: flex;
        }
    }

    .apple-video video {
        position: absolute;
        object-fit: cover;
        width: inherit;
        height: inherit;
    }

    &.is-showing-cover-art > .progress-bar {
        display: none;
    }

    &-state {
        position: absolute;
        bottom: 0.5em;
        width: 100%;
        font-size: 0.75em;
        color: rgba(238, 238, 238, 0.6);
        text-align: center;
        line-height: 1;
    }

    &:fullscreen &-state {
        bottom: 0.375em;
        font-size: 0.375em;
    }

    &.loaded .playback-state {
        opacity: 0;
        transition: opacity linear 1s;
    }

    &.error .playback-state {
        color: var(--error-color);
    }
}
