.media {
    --progress-bar-height: 6px;
    --progress-bar-background-color: rgba(128, 128, 128, 0.5);
    --progress-bar-color: rgba(255, 255, 255, 0.8);
    border-radius: calc(var(--roundness) * 1rem);
    user-select: none;
    contain: strict;
    overflow: hidden;
    background: var(--black);

    &.is-playing-video {
        background: black;
    }

    /* Fullscreen or mini-player. */
    &.fullscreen {
        /* Actual fullscreen. */
        &:fullscreen {
            background: black;
            border-radius: 0;
            inset: 0;
        }

        &:not(.paused).idle {
            cursor: none;
        }
    }

    .html5-video {
        position: absolute;
        object-fit: cover;
    }

    .youtube-video {
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        &[hidden] {
            display: none;
        }

        &-wrapper {
            display: flex;
        }
    }

    .apple-video video {
        position: absolute;
        object-fit: cover;
        width: inherit;
        height: inherit;
    }

    &.is-showing-cover-art > .progress-bar {
        display: none;
    }

    &-state {
        position: absolute;
        bottom: 1em;
        width: 100%;
        font-size: max(0.5em, 12px);
        color: rgba(238, 238, 238, 0.6);
        text-align: center;
        line-height: 1;
    }

    &.fullscreen &-state {
        margin-bottom: var(--progress-bar-height);
    }

    &:not(.paused, .mini-player-active).loaded .playback-state {
        opacity: 0;
        transition: opacity 1s linear;
    }

    &.error .playback-state {
        color: var(--error-color);
    }
}
