.progress-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--progress-bar-height);
    background-color: var(--progress-bar-background-color);
    border: 0;
    border-radius: 0;
    display: none;
    transition: opacity 1s linear;

    &[value^="0"] {
        opacity: 0;
    }

    .media.fullscreen & {
        display: block;
    }

    &::-webkit-progress-bar {
        background-color: var(--progress-bar-background-color);
        border-radius: 0;
    }

    &::-webkit-progress-value {
        background-color: var(--progress-bar-color);
        border-radius: 0;
    }

    &::-moz-progress-bar {
        background-color: var(--progress-bar-color);
        border-radius: 0;
    }
}
