/* From: https: //codepen.io/t_afif/pen/oNdKYge */

.static {
    position: absolute;
    inset: 0;
    background:
        repeating-radial-gradient(#000 0 0.0001%, #fff 0 0.0002%) 50% 0/2500px 2500px,
        repeating-conic-gradient(#000 0 0.0001%, #fff 0 0.0002%) 60% 60%/2500px 2500px;
    background-blend-mode: difference;
    animation: static-loop .2s infinite alternate;
}

@keyframes static-loop {
    100% {
        background-position: 50% 0, 60% 50%
    }
}
