.visualizer {
    position: absolute;
    inset: 0;
    background: var(--black);

    &-audiomotion {
        &[hidden] {
            display: block;
            visibility: hidden;

            canvas {
                display: none;
            }
        }
    }

    &-butterchurn {
        .light.frame-light & {
            opacity: 0.5;
        }
    }

    &-controls {
        position: absolute;
        inset: 0;
        color: white;
        opacity: 0;

        &:hover {
            opacity: 1;
        }

        .icon-button {
            width: 1.25em;
            height: 1.25em;
            opacity: 1;
            filter: brightness(0.75);

            &:hover {
                filter: brightness(1);
            }
        }

        .source-icon,
        &-settings,
        &-selector {
            position: absolute;
        }

        .source-icon {
            right: 0.375em;
            bottom: 0.375em;
            width: 1.5em;
            height: 1.5em;

            &.icon-apple {
                fill: white !important;
            }

            .media-playback.paused & {
                display: none;
            }
        }

        &-settings {
            right: 0.25em;
            top: 0.25em;
        }

        &-selector {
            left: 0.25em;
            bottom: 0.25em;

            .media-playback.paused &,
            .media.is-playing-video & {
                display: none;
            }
        }
    }
}
