.visualizer-info {
    width: 100%;
    margin-top: 1.25rem;
    padding-top: 1rem;
    border-top: 1px solid;
    font-size: 0.75rem;
    color: var(--grey2-color);

    p {
        margin: 0;
    }

    .external-view {
        display: flex;
        flex-direction: row;
        align-items: center;

        > .icon {
            margin-right: 0.25em;
            margin-left: 0.25em;
        }
    }

    .external-link:any-link {
        color: inherit;
        margin-left: 0.25em;

        .icon-link {
            color: inherit;
        }
    }

    .external-link-text {
        max-width: 24em;
        text-overflow: ellipsis;
        overflow: hidden;
        text-decoration: underline;
    }
}
