.visualizer {
    position: absolute;
    inset: 0;
    background: var(--black);

    .media:fullscreen & {
        background: black;
    }

    &-audiomotion {
        &[hidden] {
            display: block;
            visibility: hidden;

            canvas {
                display: none;
            }
        }
    }

    .media:not(:fullscreen) & {
        &-ampshader,
        &-butterchurn {
            .light.frame-light &:not(.opaque) {
                opacity: 0.5;
            }
        }
    }

    &-waveform {
        &-main {
            background: var(--background-color);

            .themed.light & {
                background: var(--black);
            }
        }

        &-beats {
            inset: auto;
            bottom: 0.625em;
            left: 50%;
            transform: translateX(-50%);
            background: none;

            .media.fullscreen & {
                bottom: 0.75em;
                background: none;
            }

            .media.paused & {
                display: none;
            }

            .media.fullscreen:not(.idle):hover & {
                visibility: hidden;
            }
        }
    }
}
