.visualizer {
    position: absolute;
    inset: 0;
    background: var(--black);

    .media:fullscreen & {
        background: black;
    }

    &-audiomotion {
        &[hidden] {
            display: block;
            visibility: hidden;

            canvas {
                display: none;
            }
        }
    }

    .media:not(:fullscreen) & {
        &-ampshader,
        &-butterchurn {
            .light.frame-light & {
                opacity: 0.5;
            }
        }
    }

    &-waveform-beats {
        inset: auto;
        bottom: 0.625em;
        left: 50%;
        transform: translateX(-50%);
        background: none;

        .media:fullscreen & {
            bottom: 0.5em;
            background: none;
        }

        .media-playback.paused & {
            display: none;
        }

        .media:fullscreen:not(.idle):hover & {
            visibility: hidden;
        }
    }
}
