.visualizer-controls {
    position: absolute;
    inset: 0;
    color: var(--soft-white);

    .icon-button {
        padding: 0.25em;
        border-radius: 50%;

        .themed.light & {
            background: rgba(0, 0, 0, 0.92);
        }

        &,
        .media:fullscreen & {
            background: #242424;
        }

        .media:not(.paused) & {
            background: rgba(0, 0, 0, 0.8);

            &:enabled:hover {
                background: rgba(0, 0, 0, 0.92)
            }
        }
    }

    .app-title {
        position: absolute;
        left: 0.5em;
        top: 0.25em;
        font-size: max(1.5vw, 1rem);
        text-shadow: 2px 2px 0 rgba(16, 16, 16, 0.8);

        .media:not(:fullscreen) & {
            display: none;
        }
    }

    .app-version {
        background-color: transparent;
    }

    .media.fullscreen & .icon-buttons {
        font-size: max(3vw, 1.25rem);
    }

    .icon-button {
        width: 1.33em;
        height: 1.33em;
        filter: brightness(0.75);

        &:hover {
            filter: brightness(1);
        }

        &-link {
            .media:fullscreen & {
                display: none;
            }

            & .icon {
                width: 1em;
                height: 1em;
            }
        }
    }

    .visualizer-buttons,
    .media-buttons,
    .video-source-icon {
        position: absolute;
    }

    &-settings {
        right: 0.25em;
        top: 0.25em;
    }

    .media-buttons {
        bottom: 1.5em;
        left: 50%;
        transform: translateX(-50%);

        .icon {
            width: 1em;
            height: 1em;
        }
    }

    &-selector {
        left: 0.25em;
        bottom: 0.375em;

        .media.paused &,
        .media.is-playing-video & {
            display: none;
        }
    }

    .video-source-icon {
        right: 0.375em;
        bottom: 0.375em;
        width: 1.5em;
        height: 1.5em;

        .media:not(.is-playing-video) & {
            filter: grayscale(1);
        }

        .media.fullscreen & {
            font-size: 0.75em;
            margin-bottom: var(--progress-bar-background-height);
        }

        &.icon-apple-logo {
            fill: white;
        }

        .media.paused & {
            display: none;
        }
    }

    /* Show buttons on hover. */
    .app-title,
    .visualizer-buttons,
    .media-buttons,
    .video-source-icon,
    .no-visualizer-reason,
    .progress-bar {
        visibility: hidden;
    }

    .media:not(.idle) &:hover {
        .visualizer-buttons,
        .video-source-icon {
            visibility: inherit;
        }
    }

    .media.fullscreen:not(.idle) &:hover,
    .media.fullscreen.paused & {
        .media-buttons,
        .app-title,
        .progress-bar {
            visibility: inherit;
        }
    }

    .media.loaded.no-visualizer &:hover .no-visualizer-reason {
        visibility: inherit;
    }

    .no-visualizer-reason {
        opacity: 1;
        transition: opacity 300ms linear 1s;
    }

    .media.paused & .no-visualizer-reason {
        opacity: 0;
        transition: none;
    }
}
