.visualizer-controls {
    position: absolute;
    inset: 0;
    color: var(--soft-white);

    .icon-button,
    .volume-control {
        filter: brightness(0.75);

        .themed.light & {
            background: rgba(0, 0, 0, 0.92);
        }

        &,
        .media:fullscreen & {
            background: #242424;
        }

        .media:not(.paused) & {
            background: rgba(0, 0, 0, 0.8);

            &:enabled:hover {
                background: rgba(0, 0, 0, 0.92)
            }
        }

        &:hover {
            filter: brightness(1);
        }
    }

    .icon-button {
        width: 1.33em;
        height: 1.33em;
        padding: 0.25em;
        border-radius: 50%;

        &-link {
            .media:fullscreen & {
                display: none;
            }

            & .icon {
                width: 1em;
                height: 1em;
            }
        }
    }

    .visualizer-buttons,
    .video-source-icon {
        position: absolute;
    }

    &-settings {
        right: 0.25em;
        top: 0.25em;
    }

    &-selector {
        left: 0.25em;
        bottom: 0.375em;

        .media.fullscreen & {
            margin-bottom: var(--progress-bar-height);
        }

        .media.paused &,
        .media.is-playing-video & {
            display: none;
        }
    }

    .video-source-icon {
        right: 0.375em;
        bottom: 0.375em;
        width: 1.5em;
        height: 1.5em;

        .icon {
            width: 1.5em;
            height: 1.5em;

            &-link {
                display: none;
            }
        }

        &.icon-apple-logo {
            fill: white;
        }

        .media:not(.is-playing-video) & {
            filter: grayscale(1) brightness(1.25);

            &.youtube:hover {
                filter: none;
            }
        }

        .media.fullscreen & {
            margin-bottom: var(--progress-bar-height);
        }

        .media.paused & {
            display: none;
        }
    }

    /* Show buttons on hover. */
    .visualizer-buttons:not(:hover),
    .media-controls-overlay,
    .video-source-icon,
    .no-visualizer-reason,
    .progress-bar {
        visibility: hidden;
    }

    .media:not(.idle) &:hover {
        .visualizer-buttons,
        .video-source-icon {
            visibility: inherit;
        }
    }

    .media.fullscreen:not(.idle) &:hover,
    .media.fullscreen.paused & {
        .media-controls-overlay,
        .progress-bar {
            visibility: inherit;
        }
    }

    .media.loaded.no-visualizer &:hover .no-visualizer-reason {
        visibility: inherit;
    }

    .no-visualizer-reason {
        opacity: 1;
        transition: opacity 300ms linear 1s;
    }

    .media.paused & .no-visualizer-reason {
        opacity: 0;
        transition: none;
    }

    .mini-player-active & .icon-button-link {
        visibility: visible;
    }

    .mini-player-active &:not(:hover) .icon-button-link {
        background: none;
    }

    .mini-player-active & .video-source-icon {
        display: none;
    }
}
