.media-library {
    display: flex;
    flex-direction: column;
    height: 100%;

    &-head {
        display: flex;
        flex-direction: row;
        flex: initial;
        align-items: center;
        margin-top: calc(var(--gutter-width) / 2);
        white-space: nowrap;

        @mixin chromeless {
            margin-top: 0;
            user-select: none;
        }

        @media (display-mode: window-controls-overlay) {
            @include chromeless;
        }

        .electron & {
            @include chromeless;
        }

        .electron-mac & {
            .app-title {
                visibility: hidden;
            }
        }

        .icon-button {
            flex: initial;
            margin: 0 calc(var(--gutter-width) + 0.25rem) 0 auto;
            outline-offset: 3px;
            -webkit-app-region: no-drag;
        }
    }

    .app-title {
        margin-left: var(--gutter-width);

        @mixin chromeless {
            margin-left: 0.5em;
            margin-top: 0.25em;
        }

        @media (display-mode: window-controls-overlay) {
            @include chromeless;
        }

        .electron & {
            @include chromeless;
        }

        .app-version {
            background-color: var(--frame2-color);
            border-radius: var(--app-border-radius);
        }
    }

    &-body {
        flex: auto;
        position: relative;
    }
}
