@use 'styles/effects.scss';

.media-library {
    display: flex;
    flex-direction: column;
    height: 100%;

    &-head {
        display: flex;
        flex-direction: row;
        flex: initial;
        align-items: center;
        margin-top: calc(var(--gutter-width) / 2);
        white-space: nowrap;

        @media (display-mode: window-controls-overlay) {
            user-select: none;
        }

        .electron-mac & {
            .app-title {
                visibility: hidden;
            }
        }

        .browser-controls {
            position: absolute;
            left: max(
                calc(
                    var(--sources-width, 0) +
                    var(--layout-splitter-size) +
                    3 * var(--gutter-width)
                ),
                9em
            );
            z-index: 1;
            -webkit-app-region: no-drag;

            .icon-button {
                cursor: default;
            }
        }

        .icon-button {
            outline-offset: 3px;

            &-settings {
                margin-left: auto;
                margin-right: calc(var(--gutter-width) + 0.25em);
                z-index: 1;
                -webkit-app-region: no-drag;
            }
        }
    }

    .app-title {
        margin-left: var(--gutter-width);
    }

    &-body {
        flex: auto;
        position: relative;
    }

    .panel:empty {
        @include effects.inset;
    }
}
