.media-library {
    display: flex;
    flex-direction: column;
    height: 100%;

    &-head {
        display: flex;
        flex-direction: row;
        flex: initial;
        align-items: center;
        margin: var(--gutter-width) 0 0 var(--gutter-width);
        color: var(--frame-text-color);
        font-size: 0.75rem;

        .icon-button {
            flex: initial;
            margin: 0 calc(var(--gutter-width) + 0.25rem) 0 auto;

            &:hover {
                opacity: 1;
            }
        }
    }

    &-title {
        font-size: 1.125rem;

        .app {
            &-icon {
                margin-right: 0.125em;
            }

            &-version {
                margin-left: 1em;
                padding: 0.125em 0.5em;
                font-size: 0.5em;
                background-color: var(--button-color);
                border-radius: var(--app-border-radius);
                vertical-align: super;
            }
        }
    }

    &-body {
        flex: auto;
        position: relative;
    }
}
