.credentials-required {
    font-size: 0.75em;
    padding: 0.5em;

    p {
        margin: 0.5em 0;
    }

    .login & .service-link {
        margin-top: 1em;
        color: inherit;

        a,
        .icon-link {
            color: inherit;
        }
    }
}
