.credentials-required {
    font-size: 0.75em;
    padding: 0.5em;

    p {
        margin: 0.5em 0;
    }

    &-link {
        margin-top: 1em;
        overflow: hidden;
        text-overflow: ellipsis;

        .external-link-content {
            display: inline;
        }
    }
}
