.login {
    text-align: center;
    bottom: var(--gutter-width);

    button.branded {
        text-shadow: 1px 1px 0 rgba(16, 16, 16, 0.6);
        box-shadow: 1px 1px 0 rgba(16, 16, 16, 0.25);
        white-space: normal;

        .apple-browser & {
            background: #d60017;
            color: white;
        }

        .emby-browser & {
            background: #52b54b;
            color: white;
        }

        .jellyfin-browser & {
            background: linear-gradient(135deg, #aa5cc3, #00a4dc);
            color: white;
        }

        .navidrome-browser & {
            background: #30638e;
            color: white;
        }

        .subsonic-browser & {
            background: #e65100;
            color: white;
        }

        .lastfm-browser & {
            background: #b90000;
            color: white;
        }

        .listenbrainz-browser & {
            background: #353070;
            color: white;
        }

        .plex-browser & {
            background: #282a2c;
            color: #e49f0d;
        }

        .spotify-browser & {
            background: rgb(29, 185, 84);
            color: white;
        }

        .youtube-browser & {
            background: red;
            color: white;
        }
    }

    .service-link {
        margin-top: 2em;

        > .icon {
            font-size: 2em;
            min-width: 0.5em;
        }
    }

    &-dialog .message {
        text-align: left;
        font-size: 0.75em;
        min-height: 1.5em;
    }

    &-dialog .error {
        color: red;
    }
}
