.login {
    text-align: center;
    bottom: var(--gutter-width);

    .login-button,
    .credentials-button {
        padding: 1em 2em;
        max-width: 100%;
        font-family: var(--system-font-family);
        font-weight: bold;
        white-space: normal;
        cursor: pointer;
    }

    .credentials-link {
        all: unset;
        cursor: pointer;
        text-decoration: underline;
    }

    .login-button.branded {
        text-shadow: 1px 1px 0 rgba(16, 16, 16, 0.6);
        box-shadow: 1px 1px 0 rgba(16, 16, 16, 0.25);
        color: white;

        &:disabled {
            cursor: default;
        }

        .airsonic-browser & {
            background: #2f7bd9;
        }

        .ampache-browser & {
            background: #ff8300;
            color: #422506;
            text-shadow: none;
        }

        .apple-browser & {
            background: #d60017;
        }

        .emby-browser & {
            background: #52b54b;
        }

        .gonic-browser & {
            background: #fdc71b;
            color: #4f3d09;
            text-shadow: none;
        }

        .jellyfin-browser & {
            background: linear-gradient(135deg, #aa5cc3, #00a4dc);
        }

        .navidrome-browser & {
            background: #30638e;
        }

        .subsonic-browser & {
            background: #e65100;
        }

        .lastfm-browser & {
            background: #b90000;
        }

        .listenbrainz-browser & {
            background: #353070;
        }

        .plex-browser & {
            background: #282a2c;
            color: #e49f0d;
        }

        .spotify-browser & {
            background: #1ed760;
            color: black;
            text-shadow: none;
        }

        .tidal-browser & {
            background: #242429;
            color: #33ffee;
        }

        .youtube-browser & {
            background: red;
        }
    }

    .service-link {
        margin-top: 2em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        .external-link-content {
            display: inline;
        }

        > .icon {
            font-size: 2em;
            min-width: 0.5em;
            margin-right: 0.25em;
        }
    }

    &-download {
        .external-link-text {
            text-decoration: underline;
        }

        .icon-link {
            display: none;
        }
    }
}
