.login {
    text-align: center;
    bottom: var(--gutter-width);

    button.branded {
        padding: 1em 3em;
        font-weight: bold;
        text-shadow: 1px 1px 0 rgba(16, 16, 16, 0.6);
        box-shadow: 1px 1px 0 rgba(16, 16, 16, 0.25);
        white-space: normal;
        cursor: pointer;
        color: white;

        &:disabled {
            cursor: default;
        }

        .apple-browser & {
            background: #d60017;
        }

        .emby-browser & {
            background: #52b54b;
        }

        .jellyfin-browser & {
            background: linear-gradient(135deg, #aa5cc3, #00a4dc);
        }

        .navidrome-browser & {
            background: #30638e;
        }

        .subsonic-browser & {
            background: #e65100;
        }

        .lastfm-browser & {
            background: #b90000;
        }

        .listenbrainz-browser & {
            background: #353070;
        }

        .plex-browser &,
        .plex-tidal-browser & {
            background: #282a2c;
            color: #e49f0d;
        }

        .spotify-browser & {
            background: #1db954;
        }

        .youtube-browser & {
            background: red;
        }
    }

    .service-link {
        margin-top: 2em;
        color: var(--link-color);

        > .icon {
            font-size: 2em;
            min-width: 0.5em;
        }
    }

    &-dialog .message {
        text-align: left;
        font-size: 0.75em;
        min-height: 1.5em;
    }
}
