@use 'styles/effects.scss';

.media-controls {
    font-family: var(--system-font-family);

    .time-control,
    .playback-control,
    .volume-control,
    .media-buttons,
    .media-buttons-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .volume-control {
        flex: auto;

        .icon-button {
            --border-width: calc(var(--media-button-border-width, 1) * 0.046875em);
            flex: initial;
            width: calc(1.25em + 2 * var(--border-width));
            height: calc(1.25em + 2 * var(--border-width));
            border-radius: calc(var(--roundness) * 100%);
            outline-offset: 0;
        }

        input[type=range] {
            --track-height: 0.175em;
            --thumb-width: calc(1em + 2 * var(--border-width));
            --thumb-height: calc(1em + 2 * var(--border-width));
            max-width: calc(4.5em + 2 * var(--border-width));
        }
    }


    .time-control,
    .playback-control {
        margin-bottom: var(--gutter-width);
    }

    input[type=range] {
        --border-width: calc(var(--media-button-border-width, 1) * 0.046875em);
        color: inherit;

        @mixin media-thumb {
            @include effects.button;
            --amb-light-hue: var(--media-button-color-h);
            --amb-light-saturation: var(--media-button-color-s);
            --amb-key-light-intensity: var(--media-button-color-l2);
            --amb-chamfer: var(--media-button-chamfer);
            --amb-fillet: var(--media-button-fillet);
            --amb-elevation: var(--media-button-elevation);
            --hover-light-intensity: min(calc(var(--media-button-color-l2) + 0.05), 1);
            --active-light-intensity: max(calc(var(--media-button-color-l2) - 0.05), 0);
            --thumb-shadow: none;
            border:
                var(--border-width)
                solid
                var(--media-button-border-color, var(--black));
            border-radius: calc(var(--roundness) * var(--thumb-height));
            @include effects.pressable;

            .media-buttons-concave & {
                @include effects.concave;
            }

            .media-buttons-convex & {
                @include effects.convex;
            }
        }

        &::-webkit-slider-thumb {
            @include media-thumb;
        }

        &::-moz-range-thumb {
            @include media-thumb;
        }
    }

    .media-buttons {
        flex: auto;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    time {
        @include effects.inset;
        display: flex;
        flex: initial;
        justify-content: center;
        min-width: 4.5rem;
        border-radius: calc(var(--roundness) * 1rem);
        user-select: none;
        cursor: pointer;
    }

    #playhead {
        --border-width: calc(var(--media-button-border-width, 1) * 0.0546875em);
        --thumb-width: calc(1.25em + 2 * var(--border-width));
        --thumb-height: calc(1.25em + 2 * var(--border-width));
        display: flex;
        flex: auto;
        min-width: 4rem;
        margin-left: 0.25rem;

        @mixin smiley-thumb {
            background-repeat: no-repeat;
            background-position: center;
            background-size: var(--thumb-height);
            background-image:
                var(--smiley),
                var(--surface-image);
        }

        &:disabled {
            pointer-events: none;
        }

        &.smile::-webkit-slider-thumb {
            @include smiley-thumb;
        }

        &.smile::-moz-range-thumb {
            @include smiley-thumb;
        }
    }
}