@use 'styles/effects.scss';

.media-controls {
    font-family: var(--system-font-family);

    .time-control,
    .playback-control,
    .volume-control,
    .media-buttons,
    .media-buttons-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .volume-control {
        flex: auto;
        min-width: 4.25rem;
        max-width: 6.25rem;
        margin-right: 0.25em;

        .icon-button {
            flex: initial;
            width: 1.25em;
            height: 1.25em;
            border-radius: calc(var(--roundness) * 100%);
            outline-offset: 0;
        }

        input[type=range] {
            --track-height: 0.15em;
            --thumb-width: .875em;
            --thumb-height: .875em;
            min-width: 3rem;
            max-width: 5rem;
        }
    }


    .time-control,
    .playback-control {
        margin-bottom: var(--gutter-width);
    }

    input[type=range] {
        color: inherit;

        @mixin media-thumb {
            background-color: var(--media-button-color);
            background-image: var(--media-button-background);
            box-shadow: 0 0 1px 1px var(--black);
            border-radius: calc(var(--roundness) * var(--thumb-height));

            &:hover {
                filter: brightness(1.1);
            }

            &:active {
                filter: brightness(0.95);
            }
        }

        &::-webkit-slider-thumb {
            @include media-thumb;
        }

        &::-moz-range-thumb {
            @include media-thumb;
        }
    }

    .media-buttons {
        flex: auto;
        margin-left: 0.25rem;
        margin-right: 0.25rem;
    }

    time {
        @include effects.inset;
        display: flex;
        flex: initial;
        justify-content: center;
        min-width: 4.5rem;
        border-radius: calc(var(--roundness) * 1rem);
        user-select: none;
        cursor: pointer;
    }

    #playhead {
        display: flex;
        flex: auto;
        min-width: 4rem;
        margin-left: 0.25rem;

        @mixin smiley-thumb {
            background-repeat: no-repeat;
            background-position: center;
            background-size: var(--thumb-height);
            background-image:
                var(--smiley),
                var(--media-button-background);

            .app.flat & {
                background-image: var(--smiley);
            }
        }

        &:disabled {
            pointer-events: none;
        }

        &.smile::-webkit-slider-thumb {
            @include smiley-thumb;
        }

        &.smile::-moz-range-thumb {
            @include smiley-thumb;
        }
    }
}