.media-button {
    background-color: var(--media-button-color);
    background-image: var(--media-button-background);
    color: var(--media-button-text-color);
    border: 0;
    padding: 0.5rem;
    width: 2rem;
    height: 2rem;
    font-size: 0.75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 1px 1px var(--black);
    border-radius: calc(var(--roundness) * 100%);

    &:first-child {
        margin-left: auto;
    }

    &:last-child {
        margin-right: auto;
    }

    &-menu {
        width: 1.25rem;
        height: 1.25rem;
        padding: 0;
        cursor: pointer;
    }
}
