.save-playlist-dialog {
    textarea {
        min-width: 13.25em;
    }

    &.service-emby &-public label,
    &.service-jellyfin &-public label,
    &.service-plex &-public label,
    &.service-plex-tidal &-public label {
        opacity: 0.5;
    }
}
