.media-source-label {
    display: flex;
    flex-direction: row;
    align-items: center;

    .icon {
        min-width: 1em;
        margin-right: 0.25em;
    }

    .text {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
