.media-source-label {
    display: flex;
    flex-direction: row;
    align-items: center;

    .icon {
        min-width: 1em;
        margin-right: 0.25em;

        &-folder,
        &-folder-up {
            margin-top: -0.125em;
        }

        &-pin {
            transition: transform 0.5s;
        }
    }

    &.unpinned {
        .icon-pin {
            transform: rotate(0.5turn);

            & + .text {
                text-decoration: line-through;
            }
        }
    }

    .text {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
