.media-service-label{
    .auth-service {
        display: inline-block;
        position: relative;
        font-size: 0.567em;
        top: -0.75em;
        padding: 0.1em 0.5em 0 0.5em;
        line-height: 1.25;
        border-radius: calc(var(--roundness) * 0.5em);
        background-color: var(--background-mark-color);
        color: inherit;
        opacity: 0.75;

        &-plex {
            .plex-connected &,
            &:not(.show-connectivity) {
                opacity: 1;
            }
        }
    }
}
