:root {
    --focus-color-h: 202;
    --focus-color-s: 90%;
    --focus-color-l: 73%;
    --focus-color-hsl: var(--focus-color-h), var(--focus-color-s), var(--focus-color-l);
    --focus-color: hsl(var(--focus-color-hsl));

    --disabled-color-hsl: var(--focus-color-h), 10%, var(--focus-color-l);
    --disabled-color: hsl(var(--disabled-color-hsl));

    --text-color-h: 0;
    --text-color-s: 0%;
    --text-color-l: 90%;
    --text-color-hsl: var(--text-color-h), var(--text-color-s), var(--text-color-l);
    --text-color: hsl(var(--text-color-hsl));

    --disabled-text-color-hsl: var(--text-color-h), var(--text-color-s), 50%;
    --disabled-text-color: hsl(var(--disabled-text-color-hsl));
    
    --scrollbar-thickness: 16px;
    
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font: 14px Arial, sans-serif;
    background-color: rgb(51, 55, 56);
    color: var(--text-color);
}
