.visualizer-settings {
    &-dialog {
        width: 30em;
        height: 24em;
    }

    .lock-status {
        margin-top: 2em;
    }

    .ambient-video-settings {
        input[type="url"] {
            width: 100%;
        }
    }
}
