.visualizer-settings {
    &-dialog {
        width: 32em;
        height: 28em;

        .visualizer-favorites .list-view {
            height: 12em;
        }
    }

    .ambient-video-settings {
        input[type="url"] {
            width: 100%;
        }
    }

    &-general fieldset {
        margin-top: 1.5em;
    }
}
