.scrollable {
    --scrollbar-size: calc(1.33em * var(--scrollbar-thickness));
    --scrollbar-button-background:
        linear-gradient(to bottom,
            var(--scrollbar-color-hi),
            transparent 0.125em),
        linear-gradient(to right,
            var(--scrollbar-color-hi),
            transparent 0.125em),
        linear-gradient(to left,
            var(--scrollbar-color-lo),
            transparent 0.125em),
        linear-gradient(to top,
            var(--scrollbar-color-lo),
            transparent 0.125em);

    --scrollbar-color-hover: hsl(var(--scrollbar-color-h),
            var(--scrollbar-color-s),
            calc(var(--scrollbar-color-l) + (100% - var(--scrollbar-color-l)) * 0.05));

    --scrollbar-color-active: hsl(var(--scrollbar-color-h),
            var(--scrollbar-color-s),
            calc(var(--scrollbar-color-l) - var(--scrollbar-color-l) * 0.25));

    .themed.light & {
        --scrollbar-color-hover: hsl(var(--scrollbar-color-h),
                var(--scrollbar-color-s),
                calc(var(--scrollbar-color-l) + (100% - var(--scrollbar-color-l)) * 0.25));

        --scrollbar-color-active: hsl(var(--scrollbar-color-h),
                var(--scrollbar-color-s),
                calc(var(--scrollbar-color-l) - var(--scrollbar-color-l) * 0.1));

    }

    &,
    &-content {
        position: absolute;
        inset: 0;
    }

    &-content {
        isolation: isolate;
        display: flex;
        flex-direction: column;
        min-width: calc(2 * var(--scrollbar-size));
        min-height: calc(2 * var(--scrollbar-size));
    }

    &-head {
        flex: initial;
    }

    &-body {
        flex: auto;
        overflow: hidden;
    }

    &-body-content {
        position: relative;
    }
}
