@use 'styles/effects.scss';

.scrollbar {
    position: absolute;
    background: var(--scrollbar-track-color);
    border-radius: var(--app-border-radius);
    display: none;

    &-vertical {
        right: 0;
        top: 0;
        bottom: 0;
        width: var(--scrollbar-size);
    }

    &-horizontal {
        left: 0;
        bottom: 0;
        right: 0;
        height: var(--scrollbar-size);
    }

    &-thumb,
    &-button {
        @include effects.surface;
        @include effects.pressable;
        --amb-light-hue: var(--scrollbar-color-h);
        --amb-light-saturation: var(--scrollbar-color-s);
        --amb-key-light-intensity: var(--scrollbar-color-l2);
        --amb-chamfer: 1;
        --amb-chamfer-width: 1;
        --hover-light-intensity: min(calc(var(--scrollbar-color-l2) + 0.05), 1);
        --active-light-intensity: max(calc(var(--scrollbar-color-l2) - 0.05), 0);
        position: absolute;
        width: var(--scrollbar-size);
        height: var(--scrollbar-size);
        color: var(--scrollbar-text-color);
        border: 1px solid var(--black);
        border-radius: var(--app-border-radius);

        .scrollbar-buttons-concave & {
            @include effects.concave;
        }

        .scrollbar-buttons-convex & {
            @include effects.convex;
        }
    }

    &-button {
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
            width: var(--scrollbar-size);
            height: var(--scrollbar-size);
        }
    }

    &-horizontal &-button-decrement {
        left: 0;
    }

    &-horizontal &-button-increment {
        right: 0;
    }

    &-vertical &-button-decrement {
        top: 0;
    }

    &-vertical &-button-increment {
        bottom: 0;
    }

    &-track {
        position: absolute;
    }

    &-vertical &-track {
        left: 0;
        right: 0;
        top: var(--scrollbar-size);
        bottom: var(--scrollbar-size);
    }

    &-horizontal &-track {
        left: var(--scrollbar-size);
        right: var(--scrollbar-size);
        top: 0;
        bottom: 0;
    }

    &-horizontal &-thumb {
        min-width: calc(var(--scrollbar-size) * 0.67);
    }

    &-vertical &-thumb {
        min-height: calc(var(--scrollbar-size) * 0.67);
    }

    .overflow-x > &-horizontal,
    .overflow-y > &-vertical {
        display: block;
    }

    .overflow-x.overflow-y > &-horizontal &-track {
        right: calc(2 * var(--scrollbar-size));
    }

    .overflow-x.overflow-y > &-horizontal &-button-increment {
        right: var(--scrollbar-size);
    }

    .overflow-x.overflow-y > &-vertical &-track {
        bottom: calc(2 * var(--scrollbar-size));
    }

    .overflow-x.overflow-y > &-vertical &-button-increment {
        bottom: var(--scrollbar-size);
    }
}
