@import 'styles/mixins.scss';

.scrollbar {
    position: absolute;
    background: hsl(
        var(--scrollbar-color-h),
        var(--scrollbar-color-s),
        calc(var(--scrollbar-color-l) - var(--scrollbar-color-l) * 0.5)
    );
    border-radius: var(--app-border-radius);
    display: none;

    &-vertical {
        right: 0;
        top: 0;
        bottom: 0;
        width: var(--scrollbar-size);
    }

    &-horizontal {
        left: 0;
        bottom: 0;
        right: 0;
        height: var(--scrollbar-size);
    }

    &-thumb,
    &-button {
        color: var(--scrollbar-text-color);
        background-clip: padding-box;
        background-color: var(--scrollbar-color);
        background-image:
            linear-gradient(to bottom,
                var(--scrollbar-color-hi),
                transparent 0.125rem),
            linear-gradient(to right,
                var(--scrollbar-color-hi),
                transparent 0.125rem),
            linear-gradient(to left,
                var(--scrollbar-color-lo),
                transparent 0.125rem),
            linear-gradient(to top,
                var(--scrollbar-color-lo),
                transparent 0.125rem);
        border: 1px solid var(--black);
        border-radius: calc(var(--roundness) * 1em);
        @include pressable;
        position: absolute;
        width: var(--scrollbar-size);
        height: var(--scrollbar-size);
        border-radius: var(--app-border-radius);

        .browser-firefox &:active {
            transform: none;
        }
    }

    &-button {
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
            width: calc(var(--scrollbar-size) / 3);
            height: calc(var(--scrollbar-size) / 3);
            pointer-events: none;
        }
    }

    &-vertical &-button-increment {
        bottom: 0;
    }

    &-horizontal &-button-increment {
        right: 0;
    }

    &-track {
        position: absolute;
    }

    &-vertical &-track {
        left: 0;
        right: 0;
        top: var(--scrollbar-size);
        bottom: var(--scrollbar-size);
    }

    &-horizontal &-track {
        left: var(--scrollbar-size);
        right: var(--scrollbar-size);
        top: 0;
        bottom: 0;
    }

    &-horizontal &-thumb {
        min-width: calc(var(--scrollbar-size) / 2);
    }

    &-vertical &-thumb {
        min-height: calc(var(--scrollbar-size) / 2);
    }

    .overflow-x > &-horizontal,
    .overflow-y > &-vertical {
        display: block;
    }

    .overflow-x.overflow-y > &-horizontal &-track {
        right: calc(2 * var(--scrollbar-size));
    }

    .overflow-x.overflow-y > &-horizontal &-button-increment {
        right: var(--scrollbar-size);
    }

    .overflow-x.overflow-y > &-vertical &-track {
        bottom: calc(2 * var(--scrollbar-size));
    }

    .overflow-x.overflow-y > &-vertical &-button-increment {
        bottom: var(--scrollbar-size);
    }
}
