.scrollable {
    --scrollbar-width: calc(1.33em * var(--scrollbar-size));

    &,
    &-content {
        position: absolute;
        inset: 0;
    }

    &-content {
        isolation: isolate;
        display: flex;
        flex-direction: column;
        min-width: calc(2 * var(--scrollbar-width));
        min-height: calc(2 * var(--scrollbar-width));
    }

    &-head {
        flex: initial;
    }

    &-body {
        flex: auto;
        overflow: hidden;
    }

    &-body-content {
        position: relative;
    }
}
