.scrollbar {
    position: absolute;
    background: var(--scrollbar-background-color);
    border-radius: var(--app-border-radius);
    display: none;

    &-vertical {
        right: 0;
        top: 0;
        bottom: 0;
        width: var(--scrollbar-size);
    }

    &-horizontal {
        left: 0;
        bottom: 0;
        right: 0;
        height: var(--scrollbar-size);
    }

    &-thumb,
    &-button {
        position: absolute;
        width: var(--scrollbar-size);
        height: var(--scrollbar-size);
        color: var(--scrollbar-text-color);
        background-color: var(--scrollbar-color);
        background-image: var(--scrollbar-button-background);
        background-clip: padding-box;
        border: 1px solid var(--black);
        border-radius: var(--app-border-radius);

        &:hover {
            background-color: var(--scrollbar-color-hover);
        }

        &:active {
            background-color: var(--scrollbar-color-active);
        }
    }

    &-button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: var(--scrollbar-size);
    }

    &-horizontal &-button-decrement {
        left: 0;
        background-image:
            var(--scrollbar-horizontal-decrement),
            var(--scrollbar-button-background);

        .app.flat & {
            background-image: var(--scrollbar-horizontal-decrement);
        }
    }

    &-horizontal &-button-increment {
        right: 0;
        background-image:
            var(--scrollbar-horizontal-increment),
            var(--scrollbar-button-background);

        .app.flat & {
            background-image: var(--scrollbar-horizontal-increment);
        }
    }

    &-vertical &-button-decrement {
        top: 0;
        background-image:
            var(--scrollbar-vertical-decrement),
            var(--scrollbar-button-background);

        .app.flat & {
            background-image: var(--scrollbar-vertical-decrement);
        }
    }

    &-vertical &-button-increment {
        bottom: 0;
        background-image:
            var(--scrollbar-vertical-increment),
            var(--scrollbar-button-background);

        .app.flat & {
            background-image: var(--scrollbar-vertical-increment);
        }
    }

    &-track {
        position: absolute;
    }

    &-vertical &-track {
        left: 0;
        right: 0;
        top: var(--scrollbar-size);
        bottom: var(--scrollbar-size);
    }

    &-horizontal &-track {
        left: var(--scrollbar-size);
        right: var(--scrollbar-size);
        top: 0;
        bottom: 0;
    }

    &-horizontal &-thumb {
        min-width: calc(var(--scrollbar-size) * 0.67);
    }

    &-vertical &-thumb {
        min-height: calc(var(--scrollbar-size) * 0.67);
    }

    .overflow-x > &-horizontal,
    .overflow-y > &-vertical {
        display: block;
    }

    .overflow-x.overflow-y > &-horizontal &-track {
        right: calc(2 * var(--scrollbar-size));
    }

    .overflow-x.overflow-y > &-horizontal &-button-increment {
        right: var(--scrollbar-size);
    }

    .overflow-x.overflow-y > &-vertical &-track {
        bottom: calc(2 * var(--scrollbar-size));
    }

    .overflow-x.overflow-y > &-vertical &-button-increment {
        bottom: var(--scrollbar-size);
    }
}
