.add-to-playlist-dialog {
    select {
        min-width: 16em;
    }

    .playlists {
        position: relative;
        height: 10em;
        width: 100%;
        inset: auto;
    }

    .scrollable {
        --scrollbar-size: max(10px, calc(1.25em * var(--scrollbar-thickness)));
        --scrollbar-color-hi: var(--scrollbar-color);
        --scrollbar-color-lo: var(--scrollbar-color);
    }

    .status-bar {
        display: none;
    }
}
