.settings-dialog {
    width: 45em;
    height: 36.5em; /* For the tallest tab */

    &::backdrop,
    & + .backdrop {
        /* This helps with theme editing. */
        background: none;
    }

    .dialog-body {
        display: flex;
        flex-direction: row;
        height: 100%;
    }

    &-sources {
        flex: initial;
        width: 11em;
        min-width: 11em;
    }

    &-source {
        display: flex;
        flex: auto;
        margin-left: 1em;
    }

    .media-services {
        font-size: 1.25em;

        & + .restricted-access {
            margin-top: 1em;
            font-style: italic;
        }
    }

    .icon-globe {
        fill: currentColor;
    }

    footer.dialog-buttons {
        position: absolute;
        right: 1em;
        bottom: 1em;
        margin: 0;
    }
}
