.settings-dialog {
    width: 45em;
    height: 37.5em; /* For the tallest tab */

    &::backdrop {
        /* This helps with theme editing. */
        background: none;
    }

    .dialog-body {
        display: flex;
        flex-direction: row;
        height: 100%;
    }

    &-sources {
        flex: initial;
        width: 11em;
        min-width: 11em;
        border-radius: calc(var(--roundness) * 1em);

        .icon-settings {
            fill: var(--grey2-color);
        }
    }

    &-source {
        display: flex;
        flex: auto;
        margin-left: 1em;
    }

    .media-services {
        .media-service-list {
            font-size: 1.25em;
        }

        & + .restricted-access {
            margin-top: 1em;
            font-style: italic;
        }
    }

    .checkbox-list {
        max-height: 20em;
    }

    .scrobbling-settings {
        .checkbox-list {
            max-height: 16em;        
        }

        .scrobbling-options {
            p:first-of-type {
                margin-bottom: 0.75em;
            }
        }
    }

    footer.dialog-buttons {
        position: absolute;
        right: 1em;
        bottom: 1em;
        margin: 0;
    }
}
