.internal-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }

    &:active {
        color: inherit;
    }

    .link-behavior-cmd-key:not(.cmd-key) .list-view &,
    .link-behavior-cmd-key-details:not(.cmd-key) .list-view-details & {
        text-decoration: none;
        cursor: default;

        &:hover {
            text-decoration: none;
        }
    }
}
