.spotify-credentials {
    width: 100%;

    &-dialog {
        width: 30em;
        height: 32em;
    }

    label,
    input[type="text"] {
        width: 100%;
        margin-left: 0;
    }

    .spotify-link {
        margin: 0;
        justify-content: flex-start;
    }

    & &-requirements {
        border-radius: 0.25em;
        font-size: 0.75em;

        p + p {
            margin-top: 1em
        }
    }
}
